.user-info--container{
    display: flex;
    padding: 0 var(--gutter) var(--gutter);
    align-items: center;
    
}
.follow-btn{
    margin-left: auto;
}
.follow-btn #followBtn{
    outline: 0;
    border: 0;
    cursor: pointer;
    background: var(--checked-border);
    /* black, white */
    color: var(--body-color);
    border-radius: 5px;
    padding: 7px 10px;
    font-size: var(--body2);
    line-height: 1;
    transition: transform 200ms,background 200ms;
    
}
.follow-btn #followBtn:hover{
    transform: translateY(-2px);
}
.user-info--sff__container{
    display: flex;
    gap: var(--gutter);
    padding-left: 45px;
}
.user-info--about{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 5px var(--gutter);
    gap: var(--gutter);
}
.user-info--sff{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}
.user-info--sff span:first-child{
    font-size: var(--body2);
    font-weight: var(--weight3);
}
.user-info--sff span:last-child{
    color: var(--checked-border);
}
.user-info--name{
    font-size: var(--heading3);
    font-weight: var(--weight3);
    color: var(--checked-border);
}
.user-info--pic{
    width: 90px;
    height: 90px;
}
.user-info--pic img{
    height: 100%;
}