{% extends './base_login.html' %} {% load static %} {% block content %}

<div class="login__header">Find Password</div>
<form class="check_id" onsubmit="idCheck(event)">
    {% csrf_token %}
    <label for="id">아이디</label>
    <input type="text" class="form-control" name="id" id="id" placeholder="아이디를 입력하세요">

    <div id="error-message-id" style="color: var(--red_error);"></div>
    <div id="success-message-id" style="color: green;"></div>
    <button type="submit" class="signup1-btn">가입된 이메일로 인증코드 받기</button>
</form>
<form class="find-password-code displayNone" id="find-password-code" onsubmit="codeCheck(event)">
    {% csrf_token %}
    <label for="password-Change-code">인증코드</label>
    <input type="text" placeholder="인증코드 붙여넣기" id="password-Change-code" name="password-Change-code">

    <div id="error-message-code" style="color: var(--red_error);"></div>
    <button type="submit" class="signup1-btn">인증코드 입력 완료</button>
</form>   
<form class="password-for-change displayNone" id="password-for-change" onsubmit="changePassword(event)">
    {% csrf_token %}
    <label for="password">새 비밀번호</label>
    <input type="text" placeholder="변경할 비밀번호를 입력하세요" id="password" name="password">

    <label for="password-check">비밀번호 확인</label>
    <input type="text" placeholder="같은 비밀번호를 입력해주세요" id="password-check" name="password-check">

    <div id="error-message-password" style="color: var(--red_error);"></div>
    <button type="submit" class="signup1-btn">비밀번호 변경</button>
</form>   

{% endblock %}

{% block extra %}
<script>
    const idCheck = async (event) =>{
        event.preventDefault();

        const formData = new FormData(event.target);

        localStorage.setItem('find_check_code', '');
        localStorage.setItem('find_check_email', '');
        localStorage.setItem('find_check_id', '');

        const url = "/check_id/";
        const res = await fetch(url, {
            method:"POST",
            headers:{},
            body: formData,
        });
        const {result, email, username}=await res.json();
        idCheck_result(result, email, username);
    }
    const idCheck_result = (result, email, username) => {
        const idInput = document.querySelector('#id');
        const errorMessageElement = document.querySelector('#error-message-id');

        errorMessageElement.textContent = ''; // 오류 메시지 초기화
        idInput.classList.remove('error');
        document.querySelector('.signup1-btn').classList.add('displayNone');
        const fpcodeElement = document.querySelector('#find-password-code');
        fpcodeElement.classList.add("displayNone");
        const pchangeElement = document.querySelector('#password-for-change');
        pchangeElement.classList.add("displayNone");
        
        if(!result){
            errorMessageElement.textContent = '존재하지 않는 회원입니다.';
            idInput.classList.add('error');
        }else if(email==""){
            errorMessageElement.textContent="이메일이 존재하지 않습니다!";
        }else{
            localStorage.setItem('find_check_email', email);
            localStorage.setItem('find_check_id', username);
            fpcodeElement.classList.remove("displayNone");
            emailValidation();
        }
    }

    const emailValidation = async (event) =>{
        const formData = new FormData();

        const find_check_email=localStorage.getItem('find_check_email');
        const find_check_id=localStorage.getItem('find_check_id');
        formData.append('email', find_check_email);
        formData.append('type', 'find_password');
        formData.append('username', find_check_id);
        const successInput = document.querySelector('#success-message-id');
        successInput.textContent = find_check_email+'로 인증 코드가 전송되었습니다!';

        const url = "/email_validation/";
        const res = await fetch(url, {
            method:"POST",
            headers:{},
            body: formData,
        });
        const {error: validation, code: email_code, email: email}=await res.json();
        sendCodeResponse(validation, email_code, email);
    }
    const sendCodeResponse = (validation, email_code, email) => {
        const emailInput = document.querySelector('#password-Change-code');
        const errorMessageElement = document.querySelector('#error-message-code');

        errorMessageElement.textContent = ''; // 오류 메시지 초기화
        emailInput.classList.remove('error');
        
        if(validation){
            errorMessageElement.textContent = '이메일 전송에 실패했습니다. 다시 시도해주세요.';
            emailInput.classList.add('error');
        }else{
            localStorage.setItem('find_check_code', email_code);
            localStorage.setItem('find_check_email', email);
        }
    }

    const codeCheck = (event) =>{
        event.preventDefault();

        const formData = new FormData(event.target);

        code=formData.get('password-Change-code');

        const errorMessageElement = document.querySelector('#error-message-code');
        errorMessageElement.textContent = '';

        const find_check_code=localStorage.getItem('find_check_code');
        
        if(find_check_code==code){
            const passwordInput = document.querySelector('#password-for-change');
            passwordInput.classList.remove('displayNone');
        }else{
            errorMessageElement.textContent = '코드가 일치하지 않습니다.';
        }
    }

    const changePassword = async (event) =>{
        event.preventDefault();

        const formData = new FormData(event.target);

        const find_check_id=localStorage.getItem('find_check_id');
        formData.append('username', find_check_id);

        const url = "/find_password/";
        const res = await fetch(url, {
            method:"POST",
            headers:{},
            body: formData,
        });
        const {error_text, redirect}=await res.json();
        change_result(error_text, redirect);
    }
    const change_result = (error_text, redirect) => {
        const find_check_id=localStorage.getItem('find_check_id');
        if(error_text==""){
            const fpcodeElement = document.querySelector('#find-password-code');
            fpcodeElement.classList.add("displayNone");
            const pchangeElement = document.querySelector('#password-for-change');
            pchangeElement.classList.add("displayNone");

            const successInput = document.querySelector('#success-message-id');
            successInput.textContent = find_check_id+'님의 비밀번호가 변경되었습니다!';

            window.location.href = redirect;
        }else{
            const errorMessageElement = document.querySelector('#error-message-password');
            errorMessageElement.textContent = error_text;
        }
    }

</script>
{% endblock %}