{% extends './base_login.html' %} {% load static %} {% block content %}

<div class="login__header">Log in</div>
{% load socialaccount %}		
{% providers_media_js %}
<form action="{% provider_login_url 'google' %}" method="post" class="login-google-form Flex_cc">
    {% csrf_token %}
    
    <button type="submit" class="login__google"><i class="gg-google"></i>  Login via Google</button>
</form>
<div class="bar">
    
</div>
<!-- form -->
<div>
    <form method="post" action="/login/" class="login-form">
        {% csrf_token %}
        <table>
            <tr>
            <td>
                <label class="f30" for="username">사용자ID</label>
            </td>
            <td>
                <input type="text" class="form-control" name="username" id="username" required>
            </td>
            </tr>
        
            <tr>
            <td>
                <label class="f30" for="password">비밀번호</label>
            </td>
            <td>
                <input type="password" class="form-control" name="password" id="password" required>
                {% if error_message %}
                <div style="color: red; font-size: var(--body2);">{{ error_message }}</div>
                {% endif %}
            </td>
            </tr>
            <tr>
            <td colspan="2" class="login-btn-td">
                <button type="submit" class="login-btn hover-black">로그인</button>
            </td>
            </tr>
        </table>
    </form>
</div>
<div class="login__forgot-pw"><a href="/find_password/">Forgot password?</a></div>        
<div class="login__signup">Not a member? <a href="/signup/step1/">Create an account</a></div>
      

{% endblock %}

        


