{% extends './base_login.html' %} {% load static %} {% block content %}

<div class="login__header--signup">Sign up</div>
<span>Welcome to TaskStock!</span>
<form action="" method="post" class="signup1">
    {% csrf_token %}
    <!-- <label for="username">Username</label>
    <input type="text" placeholder="user@user.com" id="email" name="email">
    <label for="signup1_pw">Set a password</label>
    <input type="text" placeholder="New password" id="signup1_pw" name="signup1_pw">
    <button class="signup1-btn" formaction="/main/">Create new account</button> -->
    {{ form }}
    <input class="signup1-btn hover-black" type="submit" value="SignUp">
</form>


{% endblock %}