{% load static %}
<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- favicon -->
    <link rel="shortcut icon" href="{% static 'img/favicon.svg' %}">
    <!-- font : pretendard -->
    <link rel="stylesheet" as="style" crossorigin href="https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.8/dist/web/static/pretendard.css" />
    <!-- icon : css.gg -->
    <link href="https://css.gg/css" rel="stylesheet" />
    <link href="https://unpkg.com/css.gg/icons/icons.css" rel="stylesheet" />
    <link href="https://cdn.jsdelivr.net/npm/css.gg/icons/icons.css" rel="stylesheet"/>
    <!-- css -->
    <link rel="stylesheet" href="{% static 'css/reset.css' %}">
    <link rel="stylesheet" href="{% static 'css/main/base.css' %}">
    <link rel="stylesheet" href="{% static 'css/main/home.css' %}">
    <link rel="stylesheet" href="{% static 'css/main/search.css' %}">
    <link rel="stylesheet" href="{% static 'css/main/settings.css' %}">
    <link rel="stylesheet" href="{% static 'css/main/calendar.css' %}">
    <link rel="stylesheet" href="{% static 'css/main/alarm.css' %}">
    <link rel="stylesheet" href="{% static 'css/main/group.css' %}">
    <link rel="stylesheet" href="{% static 'css/main/category.css' %}">
    <link rel="stylesheet" href="{% static 'css/main/follow.css' %}">
    <!-- <link rel="stylesheet" href="{% static 'css/chart.css' %}"> -->
    
    
    <title>TASKSTOCK</title>
</head>
<body>
    <section>
        <header>
            <a href="/main/">
                <h1>TASKSTOCK
                    <img src="{% static 'img/logo-3.png' %}" alt="">
                </h1>
            </a>
            <div class="hamburger">
                <div></div>
                <div></div>
                <div></div>
            </div>
            <div id="hamburger-tb">
                <div></div>
                <div></div>
                <div></div>
            </div>
            <div class="hamburger-contents">
                <a href="/main/">
                    <div><i class="gg-home"></i></div>
                    <span>Home</span>
                </a>
                <a href="/main/search/" class="menu-right__search">
                    <div><i class="gg-search"></i></div>
                    <span>Search</span>
                </a>
                <a href="/main/alarm/" class="menu-right__notif">
                    <div><i class="gg-bell"></i></div>
                    <span>Notification</span>
                </a>
                <a href="/main/category/" class="menu-right__category">
                    <div><i class="gg-feed"></i></div>
                    <span>Category</span>
                </a>
                <a href="/main/search_group/" class="menu-right__group">
                    <div><i class="gg-flag-alt"></i></div>
                    <span>Group</span>
                </a>
                <a href="/" class="menu-right__primium">
                    <div><i class="gg-crown"></i></div>
                    <span>Premium</span>
                </a>
                <a href="/" class="menu-right__invite">
                    <div><i class="gg-user-add"></i></div>
                    <span>Invite Friends</span>
                </a>
                <a href="/main/settings/" class="menu-right__settings">
                    <div><i class="gg-options"></i></div>
                    <span>Settings</span>
                </a>
                <div class="menu-right__darkmode">
                    <div><i class="gg-moon"></i></div>
                    <span>Dark Mode</span>
                </div>
                <a href="/" class="menu-right__logout">
                    <div><i class="gg-log-off"></i></div>
                    <span>Log out</span>
                </a>
            </div>

        </header>
        
        <div class="my-info--container">
            <div class="my-info--pic">
                {% if user.img %}
                    <img src="{{ user.img.url }}" alt="Profile Image">
                {% else %}
                    <img src="{% static 'img/blank-profile-picture.png' %}" alt="Default Profile Image">
                {% endif %}
            </div>
            <div class="my-info--about">
                <div class="my-info--name">{{user}}</div>
                <div class="my-info--comment">{{user.textContent}}</div>
                <div class="my-info--sff__container">
                    <div class="my-info--sff sff-s">
                        <span>Today</span>
                        <span>{{ percent }}</span>
                    </div>
                    <div class="my-info--sff sff-fg">
                        <span>Following</span>
                        <span id="following_list">{{user.followings.all.count}}</span>
                    </div>
                    <div class="my-info--sff sff-fr">
                        <span>Follower</span>
                        <span id="follower_list">30</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="follow-container">
            <div class="follow-search-container">
                <!-- input은 following 목록, follower 목록인지에 따라 name, id가 다름 -->
                <input type="text" placeholder="Search" name="follow_search_content" id="follow_search_content" class="displayNone">
                <i class="gg-search"></i>
            </div>
            <div id="friends-info--container">
            
            
            </div>
        </div>
    </section>
    <div id="tb-section">
        <div id="tb-hamburger">
            <div></div>
            <div></div>
            <div></div>
        </div>
        <div class="tb-hamburger-contents">
            <a href="/main/">
                <div><i class="gg-home"></i></div>
                <span>Home</span>
            </a>
            <a href="/main/search/" class="menu-right__search">
                <div><i class="gg-search"></i></div>
                <span>Search</span>
            </a>
            <a href="/main/alarm/" class="menu-right__notif">
                <div><i class="gg-bell"></i></div>
                <span>Notification</span>
            </a>
            <a href="/main/category/" class="menu-right__category">
                <div><i class="gg-feed"></i></div>
                <span>Category</span>
            </a>
            <a href="/main/group/" class="menu-right__group">
                <div><i class="gg-flag-alt"></i></div>
                <span>Group</span>
            </a>
            <!-- <a href="/" class="menu-right__primium">
                <div><i class="gg-crown"></i></div>
                <span>Premium</span>
            </a> -->
            <!-- <a href="/" class="menu-right__invite">
                <div><i class="gg-user-add"></i></div>
                <span>Invite Friends</span>
            </a> -->
            <a href="/main/settings/" class="menu-right__settings">
                <div><i class="gg-options"></i></div>
                <span>Settings</span>
            </a>
            <div class="menu-right__darkmode">
                <div><i class="gg-moon"></i></div>
                <span>Dark Mode</span>
            </div>
            <a href="/" class="menu-right__logout">
                <div><i class="gg-log-off"></i></div>
                <span>Log out</span>
            </a>
        </div>

    </div>
    {% block page %}
    {% endblock %}

    <script>

        document.addEventListener("DOMContentLoaded", function(){
            // 팔로우 목록 click 이벤트
            const followingSpan = document.querySelector("#following_list");
            const followerSpan = document.querySelector("#follower_list");
            const followsearchInput = document.querySelector("#follow_search_content");
            
            followingSpan.addEventListener("click", function(){
                localStorage.setItem('follow_type', "following");
                followsearchInput.classList.remove('displayNone');
                followsearchInput.value='';
                follow("following", null);
            });
            followerSpan.addEventListener("click", function(){
                localStorage.setItem('follow_type', "follower");
                followsearchInput.classList.remove('displayNone');
                followsearchInput.value='';
                follow("follower", null);
            });

            // 팔로우 목록 검색 input 이벤트
            const follow_search = document.querySelector("#follow_search_content");
            follow_search.addEventListener("input", function(){
                const follow_type=localStorage.getItem('follow_type');
                follow(follow_type+"_search", follow_search.value);
            });

            followingSpan.click();

        });
        const follow = async (type, searchtext) =>{

            const formData = new FormData();
            formData.append("type", type);

            if(searchtext!=null){
                formData.append("searchtext", searchtext);
            }

            const url = "/main/follow_list/";
            const res = await fetch(url, {
                method:"POST",
                headers:{},
                body: formData,
            });
            const {users: users} = await res.json();
            showFollowList(users);
        }
        const showFollowList = (users) => {
            const currentInput = document.querySelector('#friends-info--container');    
            currentInput.innerHTML="";        

            // users가 [] 인 경우 빈 배열이므로 null이 아님
            if(users.length > 0){
                for (const user of users) {
                    if(user.introduce==null){
                        tmpintrodue="";
                    }else{
                        tmpintrodue=user.introduce;
                    }

                    atagInput = document.createElement('a');
                    atagInput.href="/main/profile/?username="+user.username;

                    atagInput.innerHTML = `
                        <div class="friend-item">
                            <div class="search-result__right--container">
                                <div class="friend-info--pic">
                                    <img src="${user.img}" alt="">
                                </div>
                                
                                <div class="search-result__name-container">
                                    <h2>${user.name}</h2>
                                    <p>${tmpintrodue}</p>
                                </div>
                            </div>
                            <div class="search-result__right-container">
                                <div class="search-result__info">
                                    <div class="search-result__right-upper-container">
                                        
                                    </div>
                                    <p>${user.percent}%</p>
                                </div>
                            </div>
                        </div>
                    `;
                    currentInput.appendChild(atagInput);

                }
            }
        }
    </script>

    <script src="{% static 'js/hamburger.js' %}"></script>
    <script src="https://kit.fontawesome.com/6fbcf91afd.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
    <script src="{% static 'js/heatmap.js' %}"></script>

    
    {% block extra %}
    {% endblock %}
</body>
</html>