{% load static %}
<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- font : pretendard -->
    <link rel="stylesheet" as="style" crossorigin href="https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.8/dist/web/static/pretendard.css" />
    <!-- icon : css.gg -->
    <link href="https://css.gg/css" rel="stylesheet" />
    <link href="https://unpkg.com/css.gg/icons/icons.css" rel="stylesheet" />
    <link href="https://cdn.jsdelivr.net/npm/css.gg/icons/icons.css" rel="stylesheet"/>
    <!-- css -->
    <link rel="stylesheet" href="{% static 'css/reset.css' %}">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link rel="stylesheet" href="{% static 'css/search.css' %}">
    <title>TaskStock</title>
</head>
<body>
    <div class="menu-left">
        <div class="menu-left__logo menu-left__box">
            <!-- 작업공간 -->
            <h1>LOGO</h1>
        </div>

    <!-- my-info 부분  -->
        <div class="menu-left__my-info menu-left__box">
            <div class="menu-left__upper-info-container">
                <img src="https://placekitten.com/100/100" alt="profile image">
                <div class="menu-left__upper-info-description-container">
                    <h2>User</h2>
                    <h3>Hi! nece to meet you</h3>
                </div>
            </div>
            <div class="menu-left__lower-info-container">
                <div class="menu-left__lower-stock-info-container menu-left__lower-container">
                    <div class="menu-left__image-container">
                        <img src="https://placekitten.com/30/30" alt="stock trend image">
                    </div>
                    <p>13%</p>
                </div>
                <div class="menu-left__lower-following-info-container menu-left__lower-container">
                    <a href="/" class="menu-left__following-link">
                        <div class="menu-left__image-container">
                            <h2>23</h2>
                        </div>
                    </a>    
                    <p>following</p>
                </div>
                <div class="menu-left__lower-followers-info-container menu-left__lower-container">
                    <a href="/" class="menu-left__following-link">
                        <div class="menu-left__image-container">
                            <h2>23</h2>
                        </div>
                    </a>    
                    <p>followers</p>
                </div>
            </div> 
        </div>

        <!-- my-info 하단 팔로우 목록 -->
        <div class="menu-left__follower menu-left__box Scroll">
            <div class="menu-left__follower-user-container">
                <img src="https://placekitten.com/100/100" alt="profile image">
                <div class="menu-left__follower-user-description-container">
                    <h2>User2</h2>
                    <p>5시간 전 완료</p>
                </div>
                <div class="menu-left__follower-user-stock-container">
                    <img src="https://placekitten.com/40/40" alt="stock trend image">
                    <p>13%</p>
                </div>
            </div>
        </div>
        <!-- <div class="menu-left__following menu-left__box"></div> -->
    </div>
    <div class="main-container Scroll">
        {% block content %}
        {% endblock %}
        <!-- hamburger -->
        <div class="menu-right__hamburger">
            <div></div>                
            <div></div>                
            <div></div>                
        </div>
    </div>
    <div class="menu-right active">
        <div class="menu-right__wrap">
            <a href="/" class="menu-right__home">
                <div><i class="gg-home"></i></div>
                <span>Home</span>
            </a>
            <a href="/" class="menu-right__search">
                <div><i class="gg-search"></i></div>
                <span>Search</span>
            </a>
            <a href="/" class="menu-right__settings">
                <div><i class="gg-options"></i></div>
                <span>Settings</span>
            </a>
            <a href="/" class="menu-right__primium">
                <div><i class="gg-crown"></i></div>
                <span>Primium</span>
            </a>
            <a href="/" class="menu-right__invite">
                <div><i class="gg-user-add"></i></div>
                <div><span>Invite Friends</span></div>
            </a>
            <a href="/" class="menu-right__logout">
                <div><i class="gg-log-off"></i></div>
                <span>Log out</span>
            </a>
        </div>
    </div>
    <script src="{% static 'js/hamburger.js' %}"></script>
</body>
</html>
