/* 기본값 설정 */
:root {
    --offset: 40px; /*양쪽마진*/
    --max_width: 1440px; /*컨테이너폭*/
    --columns: 12; /*컬럼갯수*/
    --gutter: 16px; /*거터폭*/
    /* color */
    --black: #37352F;

    /* main : green */
    --green_50: #E8F5E9;
    --green_100: #C8E6C9;
    --green_200: #A5D6A7;
    --green_300: #81C784;
    --green_400: #66BB6A;
    --green_500: #4CAf50;
    --green_600: #43A047;
    --green_700: #388E3C;
    --green_800: #2E7D32;
    --green_900: #1B5E20;
    
    /* grey */
    --grey_bg: #FBFBFA;
    --grey_border: rgba(233, 233, 231);

    /* font */
    --hero: 50px;
    --heading1: 38px;
    --heading2: 28px;
    --heading3: 22px;
    --subheading: 18px;
    --body1: 16px;
    --body2: 14px;
    --caption: 12px;

    /* border-radius */
    --border-r: 8px;
    /* shadow */
    --box-shadow: rgba(233, 233, 231) 1.95px 1.95px 2.6px;
}

/* Tablet */
@media screen and (max-width: 767px) {
    :root {
        --offset: 32px;
        --columns: 8;
    }
}
/* Mobile */
@media screen and (max-width: 479px) {
    :root {
        --offset: 16px;
        --columns: 4;
    }
}


.Grid{
    display: grid;
    grid-template-columns: repeat(var(--columns), 1fr);
    grid-auto-rows: minmax(100px, auto);
    gap: var(--gutter);
    padding: 0 var(--offset);
}

/* start */
body{
    margin: auto;
    display: flex;
}
.menu-left{
    width: 300px;
    height: 100vh;
    background-color: var(--grey_bg);
    box-shadow: var(--grey_border) -1px 0 0 0 inset;
}
.menu-right{
    width: 260px;
    height: 100vh;
    background-color: var(--grey_bg);
    box-shadow: var(--grey_border) -1px 0 0 0;
}
.main-container{
    background-color: white;
    height: 100vh;
    flex-grow: 1;
    overflow-y: auto;
    display: flex;
    justify-content: center;
}
main{
    width: min(100%, var(--max_width));
    color: var(--black);
    display: flex;
    flex-direction: column;
    gap: var(--gutter);
    padding: 60px var(--offset) var(--offset);
}
.main-top{
    display: flex;
    gap: var(--gutter);
}
.main-left{
    display: flex;
    flex-direction: column;
    gap: var(--gutter);
}
.main__todo{
    flex-grow: 1;
}
.main__box{
    border-radius: var(--border-r);
    background-color: var(--grey_bg);
    box-shadow: var(--box-shadow);
    padding: var(--gutter);
}
.main__box--header{
    font-size: 28px;
    font-weight: 600;
    margin-bottom: var(--gutter);
}
.menu-right{
    display: flex;
    align-items: center;
}
.menu-right__wrap{
    display: flex;
    flex-direction: column;
    gap: var(--offset);
    padding-left: var(--offset);
}
.menu-right__wrap > a{
    display: flex;
    gap: var(--gutter);
    align-items: center;
}
.menu-right__wrap > a > div{
    width: 20px;
}
.menu-right__wrap > a > div > i{
    margin: auto;
}
.menu-right__wrap > a > div > span{
    white-space: nowrap;
    overflow: hidden;
    display: block;
    width: 100px;
}
/* hamburger */
body{
    position: relative;
}
.menu-right{
    transition: 1s;
}
.menu-right__hamburger{
    z-index: 1000;
    position: absolute;
    content: '';
    height: 35px;
    right: var(--offset);
    top: var(--gutter);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    cursor: pointer;
    background-color: var(--grey_bg);
    opacity: 0.8;
    padding: 0 10px;
    border-radius: var(--border-r);
}
.menu-right__hamburger > div{
    width: 25px;
    height: 2px;
    background-color: var(--black);
}

/* menu-left */
.menu-left{
    display: flex;
    gap: var(--gutter);
    padding: 60px var(--offset) var(--offset);
    flex-direction: column;
}
.menu-left__box{
    width: 100%;
    background-color: var(--grey_bg);
    box-shadow: var(--box-shadow);
    /* height: 300px; */
}
.menu-left__logo{
    height: 50px;
}
.menu-left__my-info{
    height: 150px;
    display: flex;
    flex-direction: column;
}
.menu-left__follower{
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    overflow-y: auto;
}

/* 김선우 작업 css */

/* menu-left 나의 프로필 부분 */
.menu-left__upper-info-container {
    display: flex;
    justify-content: space-between;
    height: 100%;
}

.menu-left__upper-info-container > img {
    width: 90px;
    height: 90px;
    padding: 10px 10px;
    border-radius: 50%;
}

.menu-left__upper-info-description-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: var(--gutter);
}

.menu-left__upper-info-description-container > h2 {
    font-size: var(--subheading);
    font-weight: 600;
    margin: 5px;
}

.menu-left__upper-info-description-container > h3 {
    font-size: var(--caption);
    font-weight: 400;
    margin: 5px;
}


.menu-left__lower-info-container {
    display: flex;
    justify-content: space-evenly;
    height: 100%;
}

.menu-left__lower-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 58px;
}

.menu-left__lower-container> h2 {
    font-size: var(--subheading);
    font-weight: 600;
    margin: 3px;
}

.menu-left__lower-container> p {
    font-size: var(--caption);
    font-weight: 400;
    margin: 5px;
}

.menu-left__image-container {
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu-left__lower-container>img {
    width: 30px;
    height: 30px;
    margin: 5px;
}


/* 팔로워 부분 수정 */

/* 일단 색 몰라서 green_100 */
.menu-left__follower-user-container {
    border-radius: var(--border-r);
    background-color: var(--green_100);
    height: 70px;
    width: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.menu-left__follower-user-container > img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.menu-left__follower-user-description-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 5px;
}

.menu-left__follower-user-description-container> h2 {
    font-size: var(--body1);
    font-weight: 600;
}

.menu-left__follower-user-description-container > p {
    font-size: var(--caption);
    font-weight: 400;
}

.menu-left__follower-user-stock-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.menu-left__follower-user-stock-container > img {
    width: 20px;
    height: 20px;
    margin: 5px;
}

.menu-left__follower-user-stock-container > p {
    font-size: var(--caption);
    font-weight: 400;
}

/* 스크롤 */

.Scroll::-webkit-scrollbar {
    width: 10px;
  }
.Scroll::-webkit-scrollbar-thumb {
    background-color: #2f3542;
    border-radius: 10px;
    background-clip: padding-box;
    border: 2px solid transparent;
  }
.Scroll::-webkit-scrollbar-track {
    background-color: grey;
    border-radius: 10px;
    box-shadow: inset 0px 0px 5px white;
  }