:root {
  --msk-color-base: #fff;
  --msk-bg-base: #000;
  --msk-color: #000;
  --msk-bg: rgb(245,247,249);
  color: var(--msk-color);
  background-color: var(--msk-bg);
  --gutter: 16px;
  --padding: 16px 36px;

  --heading1:min(11vh, min(15vw, 116px));
  --heading2:min(7vh, min(10.5vw, 72px));
  --heding3:min(5vh, min(7vw, 48px));
  --body1:min(4vh, min(5vw, 28px));
  --paragraph: min(2.8vh, min(3.8vw, 16px));
}

/* layout */
html {
  background-color: var(--msk-bg);
}
header,
section,
.footer {
  width: 100%;
  display: flex;
  justify-content: center;
}
.container {
  width: min(100%, 1350px);
  padding: 0 30px;
}
@media screen and (max-width: 750px) {
  .container {
    width: min(100%, 700px);
  }
}
header {
  background-color: var(--msk-bg);
}

/* header */
nav {
  display: flex;
  width: 100%;
  color: var(--msk-color);
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: space-between;
  height: 80px;
  box-sizing: border-box;
  padding: var(--padding);
}

.page-nav__logo-container > img {
  width: 120px;
  height: 30px;
  object-fit: contain;
}

.page-nav__button-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--gutter);
}

.page-nav__button-container--support > a:hover {
  opacity: 0.8;
}

.page-nav__button-container--login > a:hover {
  opacity: 0.8;
}
/* main */
main {
  display: flex;
  flex-direction: column;
  pointer-events: none;
  overflow-x: hidden;
}

/* page-banner */
#page-banner {
  display: flex;
    position: relative;
    flex-direction: column;
    height: 100vh;
    min-height: 100vh;
    width: 100%;
    justify-content: center;
    align-items: center;
    background-color: var(--msk-bg);
}

.page-banner__container {
  display: flex;
  flex: 0 0 auto;
  height: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.page-banner__heading {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: var(--heading1);
  font-weight: 700;
  line-height: 1.2;
  text-align: center;
  padding: var(--padding);
}

.page-banner__start-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
  height: 50px;
  background-color: #000;
  color: #fff;
  border-radius: 20px;
  margin: var(--gutter);
  transition: opacity 0.1s ease-in-out 0s;
}

.page-banner__start-btn:hover {
  opacity: 0.8;
}

.page-rule__header >h1 {
  font-size: var(--heading1);
  font-weight: 700;
  line-height: 1.2;
  text-align: center;
  padding: var(--padding);
}

.page-rule__content > h2 {
  font-size: var(--heading2);
  font-weight: 700;
  line-height: 1.2;
  text-align: center;
  padding: var(--padding);
}

.page-rule__content > p {
  font-size: var(--paragraph);
  font-weight: 400;
  line-height: 1.5;
  padding: var(--padding);
}
/* container-box */
#container-box {
  display: flex;
  position: relative;
  flex-direction: column;
  min-height: 100vh;
  width: 100%;
  justify-content: flex-start;
  align-items: center;
  background-color: rgb(112, 105, 105);
}



/* introduction-rules */
#introduction-rules {
  display: flex;
  position: relative;
  min-height: 100vh;
  width: 100%;
  justify-content: flex-start;
  align-items: center;
  background-color: rgb(204, 188, 188);
}

.page-rule__container {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: var(--padding);
  gap: var(--gutter);
}

.introduction-rules__image {
  width: 50%;
  height: 100%;
  object-fit: contain;
}
/* footer */
footer {
  background-color: var(--msk-bg);
  color: var(--msk-color);
  padding: 20px 0;
  font-size: 14px;
  text-align: center;
}