:root {
  --msk-color-base: #fff;
  --msk-bg-base: #000;
  --msk-color: #000;
  --msk-bg: rgb(245,247,249);
  color: var(--msk-color);
  background-color: var(--msk-bg);
  --gutter: 16px;
  --padding: 16px 36px;

  --heading1:min(11vh, min(15vw, 116px));
  --heading2:min(7vh, min(10.5vw, 72px));
  --heading3:min(5vh, min(7vw, 48px));
  --body1:min(4vh, min(5vw, 28px));
  --paragraph: min(2.8vh, min(3.8vw, 16px));  
}

/* layout */
html {
  background-color: var(--msk-bg);
}
header,
section,
.footer {
  width: 100%;
  display: flex;
  justify-content: center;
}
.container {
  width: min(100%, 1350px);
  padding: 0 30px;
}
@media screen and (max-width: 750px) {
  .container {
    width: min(100%, 700px);
  }
}
header {
  background-color: var(--msk-bg);
}

/* header */
nav {
  display: flex;
  width: 100%;
  color: var(--msk-color);
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: space-between;
  height: 80px;
  box-sizing: border-box;
  padding: var(--padding);
}

.page-nav__logo-container > img {
  width: 120px;
  height: 30px;
  object-fit: contain;
}

.page-nav__button-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--gutter);
}

.page-nav__button-container--support > a:hover {
  opacity: 0.8;
}

.page-nav__button-container--login > a:hover {
  opacity: 0.8;
}
/* main */
main {
  display: flex;
  flex-direction: column;
  pointer-events: none;
  overflow-x: hidden;
}

/* page-banner */
#page-banner {
  display: flex;
    position: relative;
    flex-direction: column;
    height: 100vh;
    min-height: 100vh;
    width: 100%;
    justify-content: center;
    align-items: center;
    background-color: var(--msk-bg);
    transition: background-color 0.3s ease-in-out 0s;
}

.page-banner__container {
  display: flex;
  flex: 0 0 auto;
  height: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.page-banner__heading {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: var(--heading1);
  font-weight: 700;
  line-height: 1.2;
  text-align: center;
  padding: var(--padding);
}

.page-banner__start-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
  height: 50px;
  background-color: #000;
  color: #fff;
  border-radius: 20px;
  margin: var(--gutter);
  transition: opacity 0.1s ease-in-out 0s;
}

.page-banner__start-btn:hover {
  opacity: 0.8;
}

/* container-box */
#container-box {
  display: flex;
  position: relative;
  flex-direction: column;
  min-height: 100vh;
  width: 100%;
  justify-content: flex-start;
  align-items: center;
  background-color: rgb(112, 105, 105);
}



/* advertis-box */
#advertise-box {
  display: flex;
  position: relative;
  flex-direction: column;
  min-height: 100vh;
  width: 100%;
  justify-content: flex-start;
  align-items: center;
  background-color: var(--msk-bg-base);
}

.advertise-box__container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: var(--padding);
  gap: var(--gutter);
}

.advertise-box__heading {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.advertise-box__heading > h1 {
  font-size: var(--heading1);
  font-weight: 700;
  line-height: 1.2;
  text-align: center;
  padding: var(--padding);
  color: #fff;
}

.advertise-box__heading > h3 {
  font-size: var(--heading3);
  font-weight: 700;
  line-height: 1.2;
  text-align: center;
  padding: var(--padding);
  color: #fff;
}

.advertise-box__image {
  width: 100%;
  display: flex;
  justify-content: center;  
  align-items: center;
  height: 100%;
  gap: var(--gutter); 
  object-fit: contain;
}

.advertise-box__image > img {
  border-radius: 20px;
}

.advertise-box__description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.advertise-box__description > h3 {
  font-size: var(--body1);
  font-weight: 700;
  line-height: 1.2;
  text-align: center;
  padding: var(--padding);
  color: #fff;
}
/* introduction-rules */
#introduction-vision {
  display: flex;
  position: relative;
  min-height: 100vh;
  width: 100%;
  justify-content: flex-start;
  align-items: center;
  background-color: var(--msk-bg-base);
}

.page-vision__container {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: var(--padding);
  gap: var(--gutter);
}

.introduction-vision__image {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 100%;
  object-fit: contain;
}

.introduction-vision__image > img {
  object-fit: contain;
  border-radius: 20px;
}

.page-vision__header >h1 {
  font-size: var(--heading1);
  font-weight: 700;
  line-height: 1.2;
  text-align: center;
  padding: var(--padding);
  color: #fff;
}

.page-vision__content > h2 {
  font-size: var(--heading2);
  font-weight: 700;
  line-height: 1.2;
  padding: var(--padding);
  color: #fff;
}

.page-vision__content > p {
  font-size: var(--body1);
  font-weight: 400;
  line-height: 1.5;
  padding: var(--padding);
  color: #fff;
}

.page-vision__description {
  font-size: var(--paragraph);
  font-weight: 400;
  line-height: 1.5;
  padding: var(--padding);
  color: #fff;
}

/* introduction-rule */
.introduction-rule {
  display: flex;
  position: relative;
  min-height: 100vh;
  width: 100vw;
  justify-content: center;
  align-items: center;
  background-color: var(--msk-bg-base);
}

.introduction-rule__description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
  gap: var(--gutter);
}

.introduction-rule__description > h2 {
  font-size: var(--heading2);
  font-weight: 700;
  line-height: 1.2;
  padding: var(--padding);
  color: #fff;
}

.introduction-rule__description > h3 {
  font-size: var(--body1);
  font-weight: 700;
  line-height: 1.2;
  text-align: center;
  padding: var(--padding);
  color: #fff;
}


/* footer */
footer {
  background-color: var(--msk-bg);
  color: var(--msk-color);
  padding: var(--padding);
}

.footer-container{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* test */

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
