:root {
  --msk-color-base: #fff;
  --msk-bg-base: #000;
  --msk-color: #000;
  --msk-bg: rgb(245,247,249);
  color: var(--msk-color);
  background-color: var(--msk-bg);
  --gutter: 16px;
  --padding: 16px 36px;
}

/* layout */
html {
  background-color: var(--msk-bg);
}
header,
section,
.footer {
  width: 100%;
  display: flex;
  justify-content: center;
}
.container {
  width: min(100%, 1350px);
  padding: 0 30px;
}
@media screen and (max-width: 750px) {
  .container {
    width: min(100%, 700px);
  }
}
header {
  background-color: var(--msk-bg);
}

/* header */
nav {
  display: flex;
  width: 100%;
  color: var(--msk-color);
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  background-color: bisque;
  height: 10vh;
  box-sizing: border-box;
}
/* main */
main {
  display: flex;
  flex-direction: column;
  pointer-events: none;
  overflow-x: hidden;
}

#page_banner {
  display: flex;
    position: relative;
    flex-direction: column;
    height: 100vh;
    min-height: 100vh;
    width: 100%;
    justify-content: center;
    align-items: center;
    background-color: rgb(143, 151, 151);
}

#container_box {
  display: flex;
  position: relative;
  flex-direction: column;
  min-height: 100vh;
  width: 100%;
  justify-content: flex-start;
  align-items: center;
  background-color: rgb(112, 105, 105);
}

#introduction_rules {
  display: flex;
  position: relative;
  flex-direction: column;
  min-height: 100vh;
  width: 100%;
  justify-content: flex-start;
  align-items: center;
  background-color: rgb(204, 188, 188);
}

/* footer */
footer {
  background-color: var(--msk-bg);
  color: var(--msk-color);
  padding: 20px 0;
  font-size: 14px;
  text-align: center;
}