:root {
    --offset: 40px; /*양쪽마진*/
    --max_width: 1440px; /*컨테이너폭*/
    --columns: 12; /*컬럼갯수*/
    --gutter: 16px; /*거터폭*/
    /* color */
    --black: #37352F;

    /* main : green */
    --green_50: #E8F5E9;
    --green_100: #C8E6C9;
    --green_200: #A5D6A7;
    --green_300: #81C784;
    --green_400: #66BB6A;
    --green_500: #4CAf50;
    --green_600: #43A047;
    --green_700: #388E3C;
    --green_800: #2E7D32;
    --green_900: #1B5E20;
    
    /* grey */
    --grey_bg: #FBFBFA;
    --grey_border: rgba(233, 233, 231);
    --grey_400: rgba(55, 53, 47, 0.65);

    /* font */
    --hero: 50px;
    --heading1: 38px;
    --heading2: 28px;
    --heading3: 22px;
    --subheading: 18px;
    --body1: 16px;
    --body2: 14px;
    --caption: 12px;

    /* border-radius */
    --border-r: 8px;
    /* shadow */
    --box-shadow: rgba(233, 233, 231) 1.95px 1.95px 2.6px;
}


.search-main {
    align-items: center;
}

.search-container {
    width: 60%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
.search-form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 40px;
    border-radius: var(--border-r);
    border: 1px solid var(--grey_border);
    background-color: var(--grey_bg);
    padding: 0 var(--gutter);
    
}

.search-form {
    display: flex;
    flex: 1;
    padding: 0 var(--gutter);
}

.search-form > input {
    width:100%;
    border: none;
    outline: none;
    background-color: var(--grey_bg);
}

.search-label {
    height: 100px;
    width: 80%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
}

.search-label > h3 {
    font-size: var(--heading3);
    font-weight: 600;
    margin: 5px;
}

.search-result {
    display: flex;
    flex-direction: column;
    width: 80%;
    height: 80%;
    overflow-y: auto;
}

.search-result__container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border: 1px solid var(--grey_border);
    background-color: var(--grey_bg);
    border-radius: var(--border-r);
    margin: var(--gutter) 0;
    padding: var(--gutter);
    overflow: auto;  
}

.search-result__container > img {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    margin-left: var(--gutter)
}

.search-result__name-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 5px;
    margin: var(--gutter)
}

.search-result__name-container > h2 {
    font-size: var(--subheading);
    font-weight: 600;
}

.search-result__name-container > p {
    font-size: var(--caption);
    font-weight: 400;
}

.search-result__right-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 300px;
}

.search-result__info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.search-result__info > p {
    font-size: var(--caption);
    font-weight: 400;
    margin: 5px;
}

.search-result__right-upper-container {
    width: 32px;
    height: 32px;
}

.search-result__right-upper-container > h2 {
    font-size: var(--subheading);
    font-weight: 600;
    margin: 3px;
}