:root {
    --offset: 40px; /*양쪽마진*/
    --max_width: 1440px; /*컨테이너폭*/
    --columns: 12; /*컬럼갯수*/
    --gutter: 16px; /*거터폭*/
    /* color */
    --black: #37352F;

    /* main : green */
    --green_50: #E8F5E9;
    --green_100: #C8E6C9;
    --green_200: #A5D6A7;
    --green_300: #81C784;
    --green_400: #66BB6A;
    --green_500: #4CAf50;
    --green_600: #43A047;
    --green_700: #388E3C;
    --green_800: #2E7D32;
    --green_900: #1B5E20;
    
    /* grey */
    --grey_bg: #FBFBFA;
    --grey_border: rgba(233, 233, 231);

    /* font */
    --hero: 50px;
    --heading1: 38px;
    --heading2: 28px;
    --heading3: 22px;
    --subheading: 18px;
    --body1: 16px;
    --body2: 14px;
    --caption: 12px;

    /* border-radius */
    --border-r: 8px;
    /* shadow */
    --box-shadow: rgba(233, 233, 231) 1.95px 1.95px 2.6px;
}


.settings-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
}

.settigs-header {
    height: 100px;
}

.settigs-header > h1 {
    font-size: var(--heading1);
    font-weight: 600;
    margin: 5px;
}

.settings-content {
    display: flex;
    width: 100%;
    height: 100%;
    border-radius: var(--border-r);
    background-color: var(--grey_bg);
    box-shadow: var(--box-shadow);
    padding: var(--gutter);
    margin-top: 50px;
}

.settings-menu {
    width: 30%;
    border-radius: var(--border-r);
    background-color: var(--grey_bg);
    box-shadow: var(--box-shadow);
    padding: var(--gutter);
    border: 1px solid var(--grey_border);
}

.settings-detail {
    width: 70%;
    border-radius: var(--border-r);
    background-color: var(--grey_bg);
    box-shadow: var(--box-shadow);
    padding: var(--gutter);
    border: 1px solid var(--grey_border);
    overflow-y: scroll;
}

.settings-menu__container {
    margin-top: 30px;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 20px;
}
.settings-menu__h3 {
    font-size: var(--heading3);
    font-weight: 600;
    margin: 5px;
    transition: 0.3s;
}

.settings-menu__h3:hover {
    color: var(--grey_border); /* hover 시 배경색 추가 */
}

.settings-detail__edit-profile {
    display: flex;
    flex-direction: column;
    margin: 16px;
}

.settings-detail__edit-profile > h1 {
    font-size: var(--heading2);
    font-weight: 600;
    margin: 5px;
}

.settings-detail__edit-profile > img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin: 10px;
}

.Scroll::-webkit-scrollbar {
    width: 10px;
  }

.Scroll::-webkit-scrollbar-thumb {
    background-color: #2f3542;
    border-radius: 10px;
    background-clip: padding-box;
    border: 2px solid transparent;
  }

.Scroll::-webkit-scrollbar-track {
    background-color: grey;
    border-radius: 10px;
    box-shadow: inset 0px 0px 5px white;
  }

.settings-detail-element {
    display: flex;
    flex-direction: column;
    margin: 16px;
    margin-top: 100px;
}
.settings-detail-element > h1 {
    font-size: var(--heading2);
    font-weight: 600;
    margin: 5px;
    margin-bottom: 50px;
}

/* edit-profile */
.settings-detail__profile-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.settings-detail__profile-container  > img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin: 10px;
}

.settings-detail__description-container > h3 {
    font-size: var(--body1);
    font-weight: 600;
    margin: 5px;
}

.settings-detail__description-container > a {
    font-size: var(--caption);
    color: blue;
    font-weight: 400;
    margin: 5px;
}

.profile-description__form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.profile-description__textarea {
    margin-top: 30px;
    width: 55%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.profile-description__form > button {
    background-color: var(--grey_border);
    margin-top: 20px;
    border-radius: 20px;
    width: 20%;
    height: 20px;
}

.profile-description__form > button:hover {
    background-color: var(--hover_color); /* hover 시 배경색 변경 */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* 그림자 효과 추가 */
}


/* set-alarm */
/* 라디오 체크 부분 css로 활용함 */
.settings-detail__set-alarm {
    display: flex;
    flex-direction: column;
    height: 200px;
    margin: 16px;
}

.settings-detail__container {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-around;
}

.settings-detail__container> h3 {
    font-size: var(--body1);
    font-weight: 400;
    margin: 5px;
}

input[type="radio"] {
    appearance: auto;
}

.radio__set  {
    margin-left: 50px;
    margin-top: var(--gutter);
}

.reset-password__comtainer {
    display: flex;
    flex-direction: column;
    margin: 16px;
    width: 30%;
    height: 60px;
    justify-content: space-around;
}

