{% extends '../base2.html' %} {% load static %}
{%block page%}
<main class="alarm-main">
    <div class="alarm-container">
        <div class="alarm-header">
            <h1>Alarms</h1>
        </div>
        <div class="alarm-content">
            <span>읽지 않은 알림</span>
            <ul class="alarm-lists">
                <li class="alarm-list">
                    <div class="alarm-content__container">
                        <div class="alarm-image__container">
                            <img src="{% static 'img/favicon.svg' %}" alt="로고 이미지">
                        </div>
                        <p class="alarm-description__content">user1님의 가입을 축하드립니다! 주가 상승을 기원하겠습니다.user1님의 가입을 축하드립니다! 주가 상승을 기원하겠습니다.user1님의 가입을 축하드립니다! 주가 상승을 기원하겠습니다.</p>
                        <span class="alarm-time">5시간 전</span>
                    </div>
                </li>
                <li class="alarm-list">
                    <div class="alarm-content__container">
                        <div class="alarm-image__container">
                            <img src="{% static 'img/favicon.svg' %}" alt="로고 이미지">
                        </div>
                        <p class="alarm-description__content">user1님의 가입을 축하드립니다! 주가 상승을 기원하겠습니다.</p>
                        <span class="alarm-time">5시간 전</span>
                    </div>
                </li>
               
            </ul>
            <span>읽은 알림</span>
            <ul class="alarm-lists">
                <li class="alarm-list">
                    <div class="alarm-content__container">
                        <div class="alarm-image__container">
                            <img src="{% static 'img/favicon.svg' %}" alt="로고 이미지">
                        </div>
                        <p class="alarm-description__content">user1님의 가입을 축하드립니다! 주가 상승을 기원하겠습니다.</p>
                        <span class="alarm-time">5시간 전</span>
                    </div>
                </li>
                <li class="alarm-list">
                    <div class="alarm-content__container">
                        <div class="alarm-image__container">
                            <img src="{% static 'img/favicon.svg' %}" alt="로고 이미지">
                        </div>
                        <p class="alarm-description__content">user1님의 가입을 축하드립니다! 주가 상승을 기원하겠습니다.</p>
                        <span class="alarm-time">5시간 전</span>
                    </div>
                </li>
                <li class="alarm-list">
                    <div class="alarm-content__container">
                        <div class="alarm-image__container">
                            <img src="{% static 'img/favicon.svg' %}" alt="로고 이미지">
                        </div>
                        <p class="alarm-description__content">user1님의 가입을 축하드립니다! 주가 상승을 기원하겠습니다.</p>
                        <span class="alarm-time">5시간 전</span>
                    </div>
                </li>
                <li class="alarm-list">
                    <div class="alarm-content__container">
                        <div class="alarm-image__container">
                            <img src="{% static 'img/favicon.svg' %}" alt="로고 이미지">
                        </div>
                        <p class="alarm-description__content">user1님의 가입을 축하드립니다! 주가 상승을 기원하겠습니다.</p>
                        <span class="alarm-time">5시간 전</span>
                    </div>
                </li>
                <li class="alarm-list">
                    <div class="alarm-content__container">
                        <div class="alarm-image__container">
                            <img src="{% static 'img/favicon.svg' %}" alt="로고 이미지">
                        </div>
                        <p class="alarm-description__content">user1님의 가입을 축하드립니다! 주가 상승을 기원하겠습니다.</p>
                        <span class="alarm-time">5시간 전</span>
                    </div>
                </li>
                <li class="alarm-list">
                    <div class="alarm-content__container">
                        <div class="alarm-image__container">
                            <img src="{% static 'img/favicon.svg' %}" alt="로고 이미지">
                        </div>
                        <p class="alarm-description__content">user1님의 가입을 축하드립니다! 주가 상승을 기원하겠습니다.</p>
                        <span class="alarm-time">5시간 전</span>
                    </div>
                </li>
               
            </ul>
        </div>

    </div>
</main>
{% endblock %}