{% extends '../base2.html' %} {% load static %} {% load time_filters %}
{%block page%}
<main class="alarm-main">
    <div class="alarm-container">
        <div class="alarm-header">
            <h1>Alarms</h1>
        </div>
        <div class="alarm-content">
            <span>읽지 않은 알림</span>
            <ul class="alarm-lists">
                {% for alarm in non_read_alarm %}
                <li class="alarm-list">
                    <div class="alarm-content__container">
                        <div class="alarm-image__container">
                            {% if alarm.img == "base_img" %}
                            <img src="{% static 'img/favicon.svg' %}" alt="Default Alarm Image">
                            {% else %}
                            <img src="{{ alarm.img }}">
                            {% endif %}
                        </div>
                        <p class="alarm-description__content">{{ alarm.content }}</p>
                        <span class="alarm-time">{{ alarm.created_at|time_since }}</span>
                    </div>
                </li>
                {% endfor %}
               
            </ul>
            <span>읽은 알림</span>
            <ul class="alarm-lists">
                {% for alarm in read_alarm %}
                <li class="alarm-list">
                    <div class="alarm-content__container">
                        <div class="alarm-image__container">
                            {% if alarm.img == "base_img" %}
                            <img src="{% static 'img/favicon.svg' %}" alt="Default Alarm Image">
                            {% else %}
                            <img src="{{ alarm.img }}">
                            {% endif %}
                        </div>
                        <p class="alarm-description__content">{{ alarm.content }}</p>
                        <span class="alarm-time">{{ alarm.created_at|time_since }}</span>
                    </div>
                </li>
                {% endfor %}
            </ul>
        </div>

    </div>
</main>
{% endblock %}