{% extends '../base2.html' %} {% load static %}
{%block page%}
<main class="group-main">
    <div class="group-header">
        <h1>{{group.name}}</h1>
        {% if am_I_creator %}
        <form onsubmit="confirmModal(event)">
            {% csrf_token %}
            <input type="text" name="group-create-inpput"  id="update-input" value="{{group.name}}">
            <button type="submit" name="group-update-button" id="update-button"><i class="fa-solid fa-check"></i></button>
        </form>
        <button id="groupName-editBtn"><i class="fa-solid fa-pen"></i></button>
        {% endif %}


        
    </div>
    <div class="group-content">
        <div class="group-content__info">
            <div class="group-content__text">
                <h3>Group Value</h3>
                <span>{{group.price}} ₩</span>
            </div>
            <div class="group-content__text">
                <h3>Today's Earnings</h3>
                <span>{{group.delta}} ₩</span>
            </div>
            <div class="group-content__text">
                <h3>Members</h3>
                <span>{{users_length}}</span>
            </div>
            <div class="group-content__text">
                <h3>Group Head</h3>
                <span>{{group.create_user}}</span>
            </div>
            <div class="group-content__text">
                <h3>Group rank</h3>
                <p> {{ group_position|add:1 }}위 </p>
            </div>
            
        </div>
       
        <h3><i class="fa-solid fa-crown"></i> Members Ranking</h3>
        <ul class="group-content__ul">
            {% for key, value in value.items %}
            <li id="group-content__li-{{key}}" class="group-user">
                {% if forloop.counter < 4 %}
                <div class="members-top3-trophy">
                    {% if forloop.counter == 1 %} 
                    <i class="fa-solid fa-trophy" style="color: var(--gold);"></i>
                    {% elif forloop.counter == 2 %} 
                    <i class="fa-solid fa-trophy" style="color: var(--silver);"></i>
                    {% elif forloop.counter == 3 %} 
                    <i class="fa-solid fa-trophy" style="color: var(--bronze);"></i>
                    {% endif %}
                </div>
                {% endif %}

                <div class="group-user__username">{{ key }}</div>
                <div class="group-user__value"><i class="fa-solid fa-coins"></i> {{ value }}</div>
            </li>
            {% endfor %}
        </ul>
        <form onsubmit="handleButtonClickMessage(event)">
            {% csrf_token %}
            <input type="hidden" name="group" id="group-content__name" value="{{ group.name }}">
            {% if not am_I_creator %}
                {% if button_text == '탈퇴' %}
                <!-- <button type="submit" name="group-button" id="add-button">{{button_text}}</button> -->
                <button type="submit" name="group-button" id="add-button" class="leaveGroupBtn">탈퇴</button>
                {% else %}
                <button type="submit" name="group-button" id="add-button" class="joinGroupBtn">가입</button>
                {% endif %}
            {% endif %}
        </form>
        {% if am_I_creator %}
        <form action="/main/group/delete_group/{{ group.pk }}/" method="post" onsubmit="confirmDelete()">
            {% csrf_token %}
            <button type="submit" name="group-delete-button" id="delete-button">그룹 삭제</button>
        </form>
        {% endif %}
    </div>


   
</main>



{% endblock %}


{% block extra %}
<script>
    const amICreator = "{{am_I_creator}}";
// group name 수정: if 관리자일때만 show
if(amICreator == 'True'){
  const groupName_editBtn = document.querySelector('#groupName-editBtn');
  const groupHeader = document.querySelector('.group-header');
  groupName_editBtn.addEventListener('click', () => {

    groupHeader.classList.add('editShow');
    groupNameEditToggle();
    
  })

  const groupName_confirmBtn = document.querySelector('#update-button');
  groupName_confirmBtn.addEventListener('click', () => {
    groupHeader.classList.remove('editShow');
    groupNameEditToggle();
  })
  function groupNameEditToggle() {
    const groupHeader = document.querySelector('.group-header');
    if(groupHeader.classList.contains('editShow')){
      groupHeader.querySelector('h1').style.display = 'none';
      groupHeader.querySelector('#groupName-editBtn').style.display = 'none';
      groupHeader.querySelector('form').style.display = 'flex';
    }else{
      groupHeader.querySelector('h1').style.display = 'block';
      groupHeader.querySelector('#groupName-editBtn').style.display = 'block';
      groupHeader.querySelector('form').style.display = 'none';

    }
  }
}
</script>
<script src="{% static 'js/group.js' %}"></script>

{% endblock %}