{% extends '../base2.html' %} {% load static %}
{%block page%}
<main class="group-main">
    <div class="group-header">
        <span>Group Page</span>
    </div>
    <div class="group-content">
        <div class="group-content__info">
            <div class="group-content__name">{{group.name}}</div>
            <div>그룹장: {{group.create_user}}</div>
            <div>가격: {{group.price}}</div>
            <div class="add-button__container">
                <form onsubmit="handleButtonClick(event)">
                    {% csrf_token %}
                    <input type="hidden" name="group" value="{{ group.name }}">
                    <button type="submit" name="group-button" id="add-button">{{button_text}}</button>
                </form>
            </div>
        </div>
        <div class="group-content__list">
            <ul>
                {% for key, value in value.items %}
                <li>
                    <div>키: {{ key }}</div>
                    <div>값: {{ value }}</div>
                </li>
                {% endfor %}
            </ul>
        </div>
        <div>
            <form onsubmit="handleCreateButtonClick(event)" class="create-form">
                {% csrf_token %}
                <input type="text" name="group-create-inpput"  id="create-input">
                <button type="submit" name="group-create-button" id="create-button">Create</button>
            </form>
        </div>
    </div>
</main>

<script>
    const handleButtonClick = async(event) => {
        const addButton = document.querySelector("#add-button");
        const group = document.querySelector(".group-content__name").textContent;
        event.preventDefault();

        const url = "/main/group/follow_group/";

        const formData = new FormData(event.target);
        formData.append("buttonText", addButton.textContent);
        formData.append("group", group);
        const res = await fetch(url, {
            method: 'POST', 
            headers: {},
            body: formData,
        })
        const {text:text} = await res.json();
        handleButtonText(text);
    }
    const handleButtonText = async(Text) => {
        alert(Text);
        if (Text === "CANCEL") {
            document.querySelector("#add-button").textContent = "CANCEL";
        } else if (Text === "FOLLOW") {
            document.querySelector("#add-button").textContent = "FOLLOW";
        }
    }



    // create 부분

    const handleCreateButtonClick= async(event) => {
        event.preventDefault();

        const input_content = document.querySelector("#create-input").value;
        console.log(input_content);
        const url = "/main/group/create_group/";

        const formData = new FormData(event.target);
        formData.append("name", input_content);
        const res = await fetch(url, {
            method: 'POST', 
            headers: {},
            body: formData,
        })
        const {result:result} = await res.json();
        handleCreateResult(result);
    }

    const handleCreateResult = async(result) => {
        if(result == 'Exist'){
            alert("그룹은 1개만 가능합니다.");
        }
        else {
            alert("그룹이 생성되었습니다.");
        }
    }
</script>

{% endblock %}