{% extends '../base2.html' %}{% load custom_filters %} {% load static %} {% block page %}
<main>
    <!-- 가정 먼저 실행되는 스크립트, 전역 변수 설정 -->
    <script>
        let global_chart_target_username="";
    </script>
    <div class="main-left">
        <div class="price">
            <div class="price--taspi">
                <span>TASPI</span>
                <!-- (오늘의 주가총액 / 배포 하루 후 주가총액) * 100 -->
                <span>2,591.26</span>
            </div>
            <div class="price--marketcap">
                <span>My Value</span>
                <!-- value개수 * value.end -->
                <span>3,634.7조</span>
            </div>
            <div class="total-todos">
                <span>Group Value</span>
                <!-- 그룹에 참여한 시점부터 
                    개인별 (value.end - value.start)를 모두 합한 값
                -->
                <span>3,634.7조</span>
            </div>
        </div>
        <div id="chart"></div>
        <div class="chart-btn--container">
            <form>
                <label>
                    <input type="radio" name="chart_period" value="7" id="one_week" checked>
                    <div class="chart-btn">1 week</div>
                </label>
                <label>
                    <input type="radio" name="chart_period" value="30" id="one_month">
                    <div class="chart-btn">1 month</div>
                </label>
                <label>
                    <input type="radio" name="chart_period" value="90" id="three_month">
                    <div class="chart-btn">3 months</div>
                </label>
                <label>
                    <input type="radio" name="chart_period" value="180" id="six_month">
                    <div class="chart-btn">6 months</div>
                </label>
                <label>
                    <input type="radio" name="chart_period" value="365" id="one_year">
                    <div class="chart-btn">1 year</div>
                </label>   
            </form>
        </div>
        <div class="dashboard">
            <div id="username_save" style="display:none;">{{user.username}}</div>
            <script>
                const username = document.querySelector("#username_save");
                if(username==null){
                    global_chart_target_username="";
                }else{
                    global_chart_target_username=username.textContent;
                }
            </script>
            <div class="dashboard--combo">
                <span>Combo</span>
                <span>🔥 {{ user.combo }}</span>
            </div>
            <div class="dashboard--completed">
                <span>Completed Todos</span>
                <span>✔︎ 56</span>
            </div>
            <div class="dashboard--badge">
                <span>Badge</span>
                <span></span>
            </div>
        </div>
    </div>
    <div class="main-right">
        <div class="main-right--container">
            <div class="calendar-container">
                <div class="cal--header">
                    <div id="monthDisplay">
                        <div class="monthDisplay--month"></div>
                        <div class="monthDisplay--year" style="display: none;"></div>
                    </div>
                    <div class="monthControl">
                        <button id="nextButton"><i class="fa-solid fa-chevron-up"></i></button>
                        <button id="backButton"><i class="fa-solid fa-chevron-down"></i></button>
                    </div>
                    <!-- 할 일 등록 -->
                    <div class="todo-plus">
                        <div class="todo-plus--btn"><i class="fa-solid fa-plus"></i></div>
                        <div class="todo-add--container day{{date_id}}--todo">
                            <div class="todo-add--date"></div>
                            <div class="todo-add--input">
                                <span>할 일을 입력하세요</span>
                                <input type="text"
                                placeholder="헬스장 가기"
                                onkeypress="if(event.keyCode==13) {add_todo({{ date_id }})}"
                                autofocus
                                >
                            </div>
                            <div class="todo-add--level">
                                <span>난이도를 설정하세요</span>
                                <div class="sel-todo-level">
                                    <div level="1"></div>
                                    <div level="2"></div>
                                    <div level="3"></div>
                                    <div level="4"></div>
                                    <div level="5"></div>
                                </div>
                            </div>
                            <div id="todo-add--category">
                                <span>카테고리를 설정하세요</span>
                                <select id="todo-add--select">
                                    <option value="" selected>None</option>
                                    {% for category in categorys %}
                                    <option value="{{category.name}}">{{category.name}}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="todo-add--submit-btn" onclick="add_todo({{ date_id }})">완료</div>

                        </div>
                    </div>
                    
                </div>
                <div class="cal--weekdays">
                    <div>S</div>
                    <div>M</div>
                    <div>T</div>
                    <div>W</div>
                    <div>T</div>
                    <div>F</div>
                    <div>S</div>
                    
                </div>
                <div class="cal--calendar">

                </div>
            </div>
            <!-- <div class="heatmap-container">
                <div id="heatmap"></div>
            </div> -->
            
            <div class="todo-container">
                <!-- paint todo -->

                <div class="todo-paint" id="todo-paint">
                    
                    {% for todo in todos %}
                    
                    <div class="todo-item todo-item-{{todo.pk}} ">
                        
                        <div class="todo-checkbox todo-checkbox-{{todo.pk}} {{todo.goal_check}}" onclick="check_todo({{todo.pk}})"></div>
                        
                        <input type="text" 
                               class="todo-contents" 
                               onclick="edit_todo({{todo.pk}})"
                               value="{{todo.content}}"
                               readonly>
                        <div class="todo-level todo-level-{{todo.pk}}">
                      
                         
          
                        {% with level=todos_levels_dict|get_item:todo.id %}
                            {% for i in level|to_range %}
                                <div level="{{level}}" class="active"></div>
                            {% endfor %}
                         
                        {% endwith %} 

                        {% with sub=todos_sub_dict|get_item:todo.id %}
                            {% for i in sub|to_range %}
                                <div level="{{sub}}"></div>
                            {% endfor %}
                         
                        {% endwith %} 
                            
                        </div>
                        <!-- edit page -->
                        <div class="todo-item--edit todo-item--edit-{{todo.pk}}">
                            <div class="todo-item--date"></div>
                            <div class="todo-item--input">
                                <span>할 일을 수정하세요</span>
                                <input type="text"
                                placeholder="{{todo.content}}"
                                value="{{todo.content}}"
                                
                                >
                            </div>
                            <div class="todo-item--level">
                                <span>난이도를 수정하세요</span>
                                <div class="edit-todo-level" curr-level="{{todo.level}}">
                                    <div level="1"></div>
                                    <div level="2"></div>
                                    <div level="3"></div>
                                    <div level="4"></div>
                                    <div level="5"></div>
                                </div>
                            </div>
                            <div class="todo-edit--category">
                                <span>카테고리를 수정하세요</span>
                                <select class="todo-edit--select">
                                    <option value="">None</option>
                                    {% for category in categorys %}
                                    <option value="{{category.name}}" {% if todo.category.name == category.name %} selected {% endif %}>
                                        {{category.name}}
                                    </option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="edit-btn--container">
                                <div class="todo-edit--delete-btn" onclick="delete_todo({{todo.pk}})">삭제</div>
                                <div class="todo-edit--submit-btn" onclick="update_todo({{todo.pk}})">완료</div>
                            </div>
                        </div>
                    </div>

                    {% endfor %}
                </div>
                
            </div>
            
        </div>
    </div>
    
    
</main>

{% endblock %}

{% block extra %}
<script>
    // home2를 랜더링했을 때 가장 먼제 실행하는 스크립트
    document.addEventListener("DOMContentLoaded", function(){
        
    });
</script>
<script src="{% static 'js/candlestick.js' %}"></script>
<script src="{% static 'js/time.js' %}"></script>
<script src="{% static 'js/calendar.js' %}"></script>
<script src="{% static 'js/todo2.js' %}"></script>
{% endblock %}