{% extends '../base.html' %} {% load static %} {% block content %}

<main>
    <div class="main-top">
        <div class="main-left">
            <div class="main__current main__box ">
                <div class="main__box--header main__current--header">
                    {% comment %} <h2>Current Status</h2> {% endcomment %}
                    <h1>Current Status</h1>
                </div>
                <p>
                    <span>2023. 08. 01</span>
                    <span>16:01:10</span>
                </p>
                <h3>37,000 KRW</h3>
            </div>

            <div class="main__badge main__box">
                <div class="main__box--header main__badge--header">
                    <h2>Aquired Badges</h2>
                </div>
                <ul class="main-container__badges-list">
                    <li>
                        <span>프로개근러</span>
                        <i class="gg-check"></i>
                    </li>
                    <li>
                        <span>올빼미</span>
                    </li>
                    <li>
                        <span>화성으로</span>
                    </li>
                    <li>
                        <span>아침새</span>
                    </li>
                </ul>
            </div>

        </div>
        <div class="main__todo main__box">
            <div class="main__box--header main__todo--header">
                <h2>Todo</h2>
            </div>
            <div class="main__todo--week">
                <div class="main__todo--week-cont">
                    <div class="main__todo--day">
                        <div></div>
                        <div class="main__todo--day-n">31</div>
                    </div>
                    <div class="main__todo--day">
                        <div></div>
                        <div class="main__todo--day-n">1</div>
                    </div>
                    <div class="main__todo--day">
                        <div></div>
                        <div class="main__todo--day-n">2</div>
                    </div>
                    <div class="main__todo--day">
                        <div></div>
                        <div class="main__todo--day-n">3</div>
                    </div>
                    <div class="main__todo--day">
                        <div></div>
                        <div class="main__todo--day-n">4</div>
                    </div>
                    <div class="main__todo--day">
                        <div></div>
                        <div class="main__todo--day-n">5</div>
                    </div>
                    <div class="main__todo--day">
                        <div></div>
                        <div class="main__todo--day-n">6</div>
                    </div>
                </div>
            </div>
            <div class="main__todo--lists">
                <div class="list__input-cont">
                    <input type="text" name="day{{date_id}}--todo" class="day{{date_id}}--todo"
                        placeholder="Write a todo here"
                        onkeypress="if(event.keyCode==13) {handleAddTodo({{ date_id }})}" autofocus>
                    <div class="sel-todo-level">
                        <i class="fa-regular fa-star" level="1"></i>
                        <i class="fa-regular fa-star" level="2"></i>
                        <i class="fa-regular fa-star" level="3"></i>
                        <i class="fa-regular fa-star" level="4"></i>
                        <i class="fa-regular fa-star" level="5"></i>
                    </div>
                    <div class="list__btn" onclick="handleAddTodo({{ date_id }})"><i class="gg-math-plus"></i></div>
                </div>
                <div class="todo-error">
                    난이도를 선택하세요
                </div>
                <div class="list__list-cont">
                    <div class="todo-list-cont">
                        {% for todo in todos %}
                        <div class="todo-item day{{date_id}}-todo{{todo.pk}}">
                            <div class="todo-checkbox todo-checkbox-{{todo.pk}}" data-status="{{todo.goal_check}}"
                                onclick="handleCheck({{todo.pk}})">
                                <i class="gg-check"></i>
                            </div>
                            <div class="todo-input-cont todo-input-cont-{{todo.pk}}">
                                <input type="text" class="todo-content" value="{{todo.content}}"
                                    onkeypress="if(event.keyCode==13) {handleMore({{todo.pk}})}" readonly>
                                <div class="todo-level todo-level-{{todo.pk}}">
                                    <i class="fa-solid fa-star"></i>
                                    <div>{{todo.level}}</div>
                                </div>
                            </div>
                            <div class="todo-edit todo-edit-{{todo.pk}}">
                                <div class="edit-todo-level" curr-level="{{todo.level}}">
                                    <i class="fa-regular fa-star" level="1"></i>
                                    <i class="fa-regular fa-star" level="2"></i>
                                    <i class="fa-regular fa-star" level="3"></i>
                                    <i class="fa-regular fa-star" level="4"></i>
                                    <i class="fa-regular fa-star" level="5"></i>
                                </div>
                                <i class="gg-edit-markup" onclick="handleEditInput({{todo.pk}})"></i>
                                <i class="gg-trash" onclick="handleDeleteTodo({{todo.pk}})"></i>
                            </div>
                            <div class="todo-more todo-more-{{todo.pk}}" onclick="handleMore({{todo.pk}})">
                                <i class="gg-more-alt"></i>
                            </div>
                        </div>

                        {% endfor %}

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="main-bottom">
        <div class="main__graph main__box">
            <div class="main__box—header main__graph—header">
                <h2>Candle</h2>
                <div id="chart"></div>
            </div>
        </div>
    </div>
</main>
<script src="{% static 'js/todo.js' %}"></script>
<script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
<script src="{% static 'js/chart.js' %}"></script>
{% endblock %}