{%load static%}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Favicons -->
    <link rel="shortcut icon" href="{% static 'img/favicon.svg' %}">
    <!-- Google Fonts -->
    <link
      href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Jost:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
      rel="stylesheet"
    />
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <link
    rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.css"
  />
    <!-- CSS -->
    <link rel="stylesheet" href="{% static 'css/reset.css' %}">
    <link rel="stylesheet" href="{% static 'css/landing_page.css' %}">
    <title>TaskStock</title>
  </head>
  <body>
    <header id="header">
      <nav class="page-nav">
        <div class="page-nav__logo-container">
          <a href="/">
            <img src="{% static 'img/logo-2.png' %}" alt="로고 이미지" id="logo-image">
          </a>
        </div>
        <div class="page-nav__button-container">
          <div class="page-nav__button-container--content">
            <a href="#faq" onclick="smoothScrollToElement('faq',event)">
              <span>FAQ</span>
            </a>              
          </div>
          <div class="page-nav__button-container--content">
            <a href="#contact" onclick="smoothScrollToElement('contact',event)">
              <span>Contact</span>
            </a>              
          </div>
          <div class="page-nav__button-container--content">
            <a href="/login/">
              <span>Login</span>
            </a>
          </div>
        </div>
      </nav>
    </header>
    <main>
      <section id="page-banner">
        <div class="container">
          <div class="page-banner__container" data-aos="fade-up"
          data-aos-duration="3000">
            <div class="page-banner__heading">
              <span>할 일을 완료해보세요</span>
              <span>당신의 주식창에서.</span>
            </div>
            <a href="/login/" id="page-banner__start-btn">
              <div class="page-banner__btn-container">
                <span id="page-banner__btn-text">시작하기</span>
              </div>
            </a>
          </div>
        </div>
      </section>
      <section id="container-box">
        <div class="container">
          <div class="container-box__container">
            <div class="container-box__imgs">
              <div class="container-box__imgs__img" data-aos="fade-left">
                <img src="{% static 'img/landing-page-1-1.PNG' %}" alt="containers first image">
              </div>
              <div class="container-box__imgs__img" data-aos="zoom-in">
                <img src="{% static 'img/landing-page-1-2.PNG' %}" alt="containers second image">
              </div>
              <div class="container-box__imgs__img" data-aos="fade-right">
                <img src="{% static 'img/landing-page-1-3.PNG' %}" alt="containers second image">
              </div>
            </div>
          <!-- 두번째 섹션; 설명 -->
            <div class="container-box__text" data-aos="fade-up">
              <h3>주가의 상승을 통해 확인해보세요.</h3>
              <p>당신의 목표 달성이 주가를 상승시킵니다.</p>
            </div>
          </div>
        </div>
      </section>
      <!-- 세번째 섹션 - FAQ -->
      <section id="faq">
        <div class="container">
          <div class="faq-container">
            <h2 data-aos="fade-up">어떻게 주가가 상승하나요?</h2>
            <div class="introduction-rules__faq-container" data-aos="fade-up">
              
              <ul class="introduction-rules__faq-container__faq-list">
                <li class="introduction-rules__faq-container__faq-list__question">
                  <h3>01</h3>
                  <p>
                    당신의 할 일과 난이도를 To-Do 리스트에 계획해보세요.
                  </p>
                </li>
                <li class="introduction-rules__faq-container__faq-list__question">
                  <h3>02</h3>
                  <p>
                    목표를 완료하고 To-Do 리스트를 체크하세요.
                  </p>
                </li>
                <li class="introduction-rules__faq-container__faq-list__question">
                  <h3>03</h3>
                  <p>
                    설정 난이도에 따른 주가의 상승을 그래프로 확인해보세요.
                  </p>
                </li>
              </ul>
            </div>
          </div>
      </div>
      </section>
      <section id="swiper">
        <div class="swiper-container">
          <div class="swiper-wrapper">
            <!-- 각 이미지 슬라이드를 추가합니다. -->
            <div class="swiper-slide">
              <section class="introduction-level">
                <div class="container">
                  <div class="introduction-rule__container">
                    <div class="introduction-rule__description" data-aos="zoom-in-right">
                      <h2>level 1</h2>
                      <h3>매우 쉽게 달성 가능</h3>
                    </div>
                    <div class="introduction-rule__image" data-aos="flip-right">
                    <img src="{% static 'img/landing-page-5-1.PNG' %}" alt="">
                    </div>
                  </div>
                </div>
              </section>
            </div>
            <div class="swiper-slide">
              <section class="introduction-level">
                <div class="container">
                  <div class="introduction-rule__container">
                    <div class="introduction-rule__description" data-aos="zoom-in-right">
                      <h2>level 2</h2>
                      <h3>쉽게 달성 가능</h3>
                    </div>
                    <div class="introduction-rule__image" data-aos="flip-right">
                    <img src="{% static 'img/landing-page-5-2.PNG' %}" alt="">
                    </div>
                  </div>
                </div>
              </section>
            </div>
            <div class="swiper-slide">
              <section class="introduction-level">
                <div class="container">
                  <div class="introduction-rule__container">
                    <div class="introduction-rule__description" data-aos="zoom-in-right">
                      <h2>level 3</h2>
                      <h3>무난하게 달성 가능</h3>
                    </div>
                    <div class="introduction-rule__image" data-aos="flip-right">
                    <img src="{% static 'img/landing-page-5-3.PNG' %}" alt="">
                    </div>
                  </div>
                </div>
              </section>
            </div>
            <div class="swiper-slide">  
              <section class="introduction-level">
                <div class="container">
                  <div class="introduction-rule__container">
                    <div class="introduction-rule__description" data-aos="zoom-in-right">
                      <h2>level 4</h2>
                      <h3>비교적 어렵게 달성 가능</h3>
                    </div>
                    <div class="introduction-rule__image" data-aos="flip-right">
                    <img src="{% static 'img/landing-page-5-4.PNG' %}" alt="">
                    </div>
                  </div>
                </div>
              </section>
            </div>
            <div class="swiper-slide">
              <section class="introduction-level">
                <div class="container">
                  <div class="introduction-rule__container">
                    <div class="introduction-rule__description" data-aos="zoom-in-right">
                      <h2>level 5</h2>
                      <h3>매우 어렵게 달성 가능</h3>
                    </div>
                    <div class="introduction-rule__image" data-aos="flip-right">
                    <img src="{% static 'img/landing-page-5-5.PNG' %}" alt="">
                    </div>
                  </div>
                </div>
              </section>
            </div>
            <!-- 나머지 이미지 슬라이드도 동일한 방식으로 추가합니다. -->
          </div>
        </div>
      </section>
      <section id="faq">
        <div class="container">
          <div class="faq-container">
            <h2 data-aos="fade-up">당신의 Task를 측정합니다.</h2>
            <div class="introduction-rules__faq-container" data-aos="fade-up">
              <div class="introduction-rules__image-container">
                <img src="{% static 'img/landing-page-7.PNG' %}" alt="containers first image">
              </div>  
              <ul class="introduction-rules__faq-container__faq-list">
                <li class="introduction-rules__faq-container__faq-list__question">
                  <h3>Price Section</h3>
                  <p>
                    Open(시가) : 전날의 종가로 오늘 시작 기준이 되는 가격입니다.<br>
                    Close(종가) : 해당 날의 마감 가격으로, 오늘이 끝나지 않으면 현재 주가를 의미합니다.<br>
                    High(고가) : 당일 주가 최고치로 할일을 모두 완료했을때의 가격을 의미합니다.<br>
                    Low(저가) : 당일 주가 최저치로 할일을 모두 완료하지 못했을 때의 가격을 의미합니다.<br>
                  </p>
                </li>
                <li class="introduction-rules__faq-container__faq-list__question">
                  <h3>Market Cap</h3>
                  <p>
                    사용자의 시가 총액으로 현재 주가와 Completed Todos의 곱으로 계산됩니다.
                  </p>
                </li>
                <li class="introduction-rules__faq-container__faq-list__question">
                  <h3>Combo & Completed Todos</h3>
                  <p>
                    Combo는 연속으로 완료한 할 일의 수를 의미합니다. Completed Todos는 완료한 할 일의 수를 의미합니다.
                  </p>
                </li>
              </ul>
            </div>
          </div>
      </div>
      </section>
      <section id="advertise-box">
        <div class="container">   
          <div class="advertise-box__container">
            <div class="advertise-box__heading" data-aos="fade-up">
              <h2>TaskStock의 특별한 기능들,</h2>
              <h3>여러분에게 동기를 부여해줍니다.</h3>
            </div>
            <div class="advertise-box__image">
              <img src="{% static 'img/badge/warren_buffett.svg' %}" alt="" id="image-one"  data-aos="fade-left">
              <img src="{% static 'img/badge/combo_99.svg' %}" alt="" id="image-two"  data-aos="zoom-in">
              <img src="{% static 'img/badge/1+1.svg' %}" alt="" id="image-three"  data-aos="fade-right">
            </div>
            <div class="advertise-box__description" data-aos="fade-up">
              <h3>프로젝트, 그룹, 뱃지 기능을 이용해보세요. <br><br> 당신이 목표 달성에 쉽게 다가갈 수 있을 것 입니다.</h3> 
            </div>
          </div>
        </div>
      </section> 
      <section id="introduction-vision">
        <div class="container">
          <div class="page-vision__container">
            <div class="page-vision__left-container">
              <div class="page-vision__header" data-aos="fade-right">
                <h1>친구들과 함께하기.</h1>
              </div>
              <div class="page-vision__content" data-aos="fade-right" id="page-vision__following">
                <h2>친구를 팔로잉 해보세요.</h2>
                <p>유저 검색을 통해 다양한 유저들의 주가와 목표 달성을 확인해보세요.</p>
              </div>
              <div class="page-vision__content" data-aos="fade-right" id="page-vision__group">
                <h2>그룹에 참여해보세요.</h2>
                <p>그룹에 참여하여 내 그룹의 주가 상승에 기여해보세요.</p>
              </div>
            </div>
            <div class="introduction-vision__image" data-aos="fade-up"> 
              <img src="{% static 'img/landing-page-6-1-2.PNG' %}" alt="rule image">
            </div>
          </div>
        </div>
      </section>
      <section class="introduction-developer" style="background-color: black;">
        <div class="container">
          <div class="introduction-rule__container">
            <div class="introduction-rule__description" data-aos="zoom-in-right">
              <h2>다양한 기기에서 이용</h2>
              <h3>컴퓨터, 태블릿, 모바일 기기에서 모두 이용가능</h3>
            </div>
            <div class="introduction-rule__image" data-aos="flip-right">
              <img id="changing-image" src="{% static 'img/landing-page-4-1.PNG' %}" alt="">
            </div>
          </div>
        </div>
      </section>

      <!-- 스와이퍼로 갤러리 구현 코드 -->
      <!-- 개발자 정보 -->
      <section class="introduction-developer"  id="contact">
        <div class="container">
          <ul class="developer-list">
            <li class="developer-list__container" data-aos="fade-left">
              <div class="introductin-developer__head">
                <h2>민세원</h2>
                <p>캡틴 / 한국어보다 파이썬이 편해요</p>
              </div>
              <div class="introductin-developer__body">
                <span>세원은 2개월 이하의 백엔드 개발 경험을 가지고 있으나 어쩌다 보니 팀장이 되었습니다. 
                  백엔드에서 TaskStock의 주요 기능을 구축하는 데 중심 역할을 했으며, 그의 리더십은 TaskStock 성공의 핵심입니다. 
                  그는 말했습니다. “내 코드는 ART야"</span>
              </div>
            </li>
            <li class="developer-list__container" data-aos="fade-left">
              <div class="introductin-developer__head">
                <h2>안정근</h2>
                <p>백엔드 master / 기능 자판기</p>
              </div>
              <div class="introductin-developer__body">
                <span>정근은 구현 마스터로서 백엔드의 프린스로 활동했습니다. 데이터베이스의 안정성과 효율성에 미쳐 불안정근으로 날뛰었지만 프로젝트를 마무리하고 마침내 안정근(stable root)이 되었습니다.
                   또한 그는 배포가 커서 배포를 맡았습니다. “AWS, 너 뭐 돼?” 
                  “지금 주문하면 이 기능 오후 8시 전 배송”</span>
              </div>
            </li>
            <li class="developer-list__container" data-aos="fade-left">
              <div class="introductin-developer__head">
                <h2>정환희</h2>
                <p>프론트엔드 master / 한국어보다 자바스크립트가 편해요</p>
              </div>
              <div class="introductin-developer__body">
                <span>환희는 프론트엔드 버그 찾기 전문가입니다. 또한 매일 영감을 기다리며 음주코딩으로 TaskStock의 레이아웃을 완성했습니다. 
                  이후 수 많은 프론트엔드 기능을 구현하고 마침내 자바스크립트 여왕으로 군림했습니다.
                   정리자베스 22세 앞에 HTML과 CSS는 무릎을 꿇습니다. 정리자베스 22세 만세!</span>
              </div>
            </li>
            <li class="developer-list__container" data-aos="fade-left"">
              <div class="introductin-developer__head">
                <h2>김선우</h2>
                <p>프로젝트 관리자 / 비주얼 담당 </p>
              </div>
              <div class="introductin-developer__body">
                <span>선우는 프론트엔드와 백엔드의 경계를 허무는 멀티플레이어입니다. Like a Bat. 
                  이에 멈추지 않고 TaskStock팀의 비주얼과 치어리딩까지 담당합니다. 
                  또한 이 아름다운 랜딩페이지가 그의 손에서 탄생했습니다.
                  “김선우, 너 못하는게 뭐야?”
                  “오빠가 이런사람이야.”
                </span>
              </div>
            </li>
            <li class="developer-list__container" data-aos="fade-left">
              <div class="introductin-developer__head">
                <h2>오지수</h2>
                <p>디자이너 / 피그마 expert</p>
              </div>
              <div class="introductin-developer__body">
                <span>지수는 피그마 마스터입니다. 그녀의 감각있는 손길로 아름다운 뱃지들이 탄생했습니다. 그녀는 디자인과 코드를 부산 바닷 물결처럼 잘 섞는 개발자를 꿈꾸고 있습니다. </span>
              </div>
            </li>

          </ul>
        </div>
      </section>
    </main>
    <footer>
      <div class="footer-container">
        <div class="logo-container">
          <a href="#header" onclick="smoothScrollToElement('header',event)">
            <img src="{% static 'img/logo-2.png' %}" alt="logo image" id="logo-image">
          </a>
        </div>
        <div class="contact-container">
          <a href="https://instagram.com/taskstock.official?igshid=MzRlODBiNWFlZA==">
            <p>contact us: <i class="fa-brands fa-instagram"></i> @taskstock.official</p>
          </a>
        </div>
      </div>
    </footer>


    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.js"></script>
    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
    <script>
      // swiper 함수
      document.addEventListener("DOMContentLoaded", function () {
        var mySwiper = new Swiper(".swiper-container", {
          grabCursor: true,
          centeredSlides: true,
          slidesPerView: "auto",
          effect: "coverflow",
          loop: true,
          coverflowEffect: {
            rotate: 50,
            stretch: 0,
            depth: 100,
            modifier: 1,
            slideShadows: true,
          },
          pagination: {
            el: ".swiper-pagination",
          },
          autoplay: {
            delay: 2500, // 슬라이드 간격을 밀리초(ms) 단위로 지정합니다.
            disableOnInteraction: false, // 사용자 인터랙션 후에도 자동 전환을 유지합니다.
          },
        });
      });
    </script>
    <script>
      AOS.init();
    </script>
    <script>
          // 스크롤 스무스하게 이동하는 함수
    function smoothScrollToElement(elementId, event) {
      event.preventDefault();
      const targetElement = document.getElementById(elementId);
      if (targetElement) {
        targetElement.scrollIntoView({ behavior: "smooth", block: "start" });
      }
    }


    
    </script>
    <script src="{% static 'js/landing_page.js' %}"></script>
  </body>
</html>