{% extends '../base2.html' %}{% load custom_filters %} {% load static %} {% block page %}
<main>
    <!-- 가정 먼저 실행되는 스크립트, 전역 변수 설정 -->
    <script>
        let global_chart_target_username="";
    </script>
    <div class="main-left">
        <div class="user-info--container">
            <div class="user-info--pic">
                {% if target_user.img %}
                    <img src="{{ target_user.img.url }}" alt="Profile Image">
                {% else %}
                    <img src="{% static 'img/blank-profile-picture.png' %}" alt="Default Profile Image">
                {% endif %}
            </div>
            <div class="user-info--about">
                <div class="user-info--name">{{target_user.username}}</div>
                <div class="user-info--comment">{{target_user.introduce}}</div>
            </div>
            <div class="user-info--sff__container">
                <div class="user-info--sff sff-s">
                    <span>Today</span>
                    <span>{{percentage}}</span>
                </div>
                <div class="user-info--sff sff-fg">
                    <span>Following</span>
                    <span id="following_list">{{target_user.followings.all.count}}</span>
                </div>
                <div class="user-info--sff sff-fr">
                    <span>Follower</span>
                    <span id="follower_list">{{target_user.followers.all.count}}</span>
                </div>
            </div>
            <div class="follow-btn">
                <button id="followBtn" onclick="followClick();">{{follow_text}}</button>
            </div>
        </div>
        <div class="price">
            <div class="price--taspi">
                <span>Stock Info</span>
                <!-- 나의 오늘 value -->
                <span>Opening Price: {{ value.start }} KRW</span>
                <span>Closing Price: {{ value.end }} KRW</span>
                <span>Maximum Upside: {{ value.high }} KRW</span>
                <span>Maximum Downsie: {{ value.low }} KRW</span>
            </div>
            <div class="price--marketcap">
                <span>Stock Market Cap</span>
                <!-- value개market_cap수 * value.end -->
                <span>{{ market_cap }} KRW</span>
            </div>
            <div class="total-todos">
                <!-- group name -->
                <span>Group name: ({{user.my_group.name}})</span>
                <!-- group value change -->
                <span>Value change of the group: {{user.my_group.price}}</span>
            </div>
        </div>
        <div id="chart"></div>
        <div class="chart-btn--container">
            <form>
                <label>
                    <input type="radio" name="chart_period" value="7" id="one_week" checked>
                    <div class="chart-btn">1 week</div>
                </label>
                <label>
                    <input type="radio" name="chart_period" value="30" id="one_month">
                    <div class="chart-btn">1 month</div>
                </label>
                <label>
                    <input type="radio" name="chart_period" value="90" id="three_month">
                    <div class="chart-btn">3 months</div>
                </label>
                <label>
                    <input type="radio" name="chart_period" value="180" id="six_month">
                    <div class="chart-btn">6 months</div>
                </label>
                <label>
                    <input type="radio" name="chart_period" value="365" id="one_year">
                    <div class="chart-btn">1 year</div>
                </label>   
            </form>
        </div> 
        <div class="dashboard">
            <div id="username_save" style="display:none;">{{target_user.username}}</div>
            <script>
                const username = document.querySelector("#username_save");
                if(username==null){
                    global_chart_target_username="";
                }else{
                    global_chart_target_username=username.textContent;
                }
            </script>
            <div class="dashboard--combo">
                <span>Combo</span>
                <span>🔥 {{ target_user.combo }}</span>
            </div>
            <div class="dashboard--completed">
                <span>Completed Todos</span>
                <span>✔︎ {{ target_user.todo_cnt }}</span>
            </div>
            <div class="dashboard--badge">
                <span>Badge</span>
                <span>
                    {% for badge in target_user.badges.all %}
                        {% if badge.name == "지금이라도 사야해" %}
                            <img src="{% static 'img/badge/combo.svg' %}">
                            {{ badge.name }}
                            {{ badge.description }}
                        {% endif %}
                        {% if badge.name == "개미의 선택" %}
                            <img src="{% static 'img/badge/ant_beginner.svg' %}">
                            {{ badge.name }}
                            {{ badge.description }}
                        {% endif %}
                        {% if badge.name == "슈퍼 개미의 선택" %}
                            <img src="{% static 'img/badge/ant_intermediate.svg' %}">
                            {{ badge.name }}
                            {{ badge.description }}
                        {% endif %}
                        {% if badge.name == "우주 개미의 선택" %}
                            <img src="{% static 'img/badge/and_master.svg' %}">
                            {{ badge.name }}
                            {{ badge.description }}
                        {% endif %}
                        {% if badge.name == "콩콩" %}
                            <img src="{% static 'img/badge/22.svg' %}">
                            {{ badge.name }}
                            {{ badge.description }}
                        {% endif %}
                        {% if badge.name == "1+1" %}
                            <img src="{% static 'img/badge/1+1.svg' %}">
                            {{ badge.name }}
                            {{ badge.description }}
                        {% endif %}
                        {% if badge.name == "화성 갈끄니까" %}
                            <img src="{% static 'img/badge/mars.svg' %}">
                            {{ badge.name }}
                            {{ badge.description }}
                        {% endif %}
                    {% endfor %}
                </span>
            </div>
        </div>
        
            
            
    
    </div>
    <div class="main-right">
        <div class="main-right--container">
            <div class="calendar-container">
                <div class="cal--header">
                    <div id="monthDisplay">
                        <div class="monthDisplay--month"></div>
                        <div class="monthDisplay--year" style="display:none;"></div>
                    </div>
                    <div class="monthControl">
                        <button id="nextButton"><i class="fa-solid fa-chevron-up"></i></button>
                        <button id="backButton"><i class="fa-solid fa-chevron-down"></i></button>
                    </div>
                    <!-- 할 일 등록 -->
                    
                    
                </div>
                <div class="cal--weekdays">
                    <div>S</div>
                    <div>M</div>
                    <div>T</div>
                    <div>W</div>
                    <div>T</div>
                    <div>F</div>
                    <div>S</div>
                    
                </div>
                <div class="cal--calendar">

                </div>
            </div>
            <!-- <div class="heatmap-container">
                <div id="heatmap"></div>
            </div> -->
            
            <div class="todo-container">
                <!-- paint todo -->

                <div class="todo-paint" id="todo-paint">
                    
                    {% for todo in todos %}
                    
                    <div class="todo-item todo-item-{{todo.pk}} ">
                        
                        <div class="todo-checkbox todo-checkbox-{{todo.pk}} {{todo.goal_check}}"></div>
                        
                        <input type="text" 
                            class="todo-contents" 
                            onclick="edit_todo({{todo.pk}})"
                            value="{{todo.content}}"
                            readonly>
                        <div class="todo-level todo-level-{{todo.pk}}">

                        {% with level=todos_levels_dict|get_item:todo.id %}
                            {% for i in level|to_range %}
                                <div level="{{level}}" class="active"></div>
                            {% endfor %}
                        {% endwith %} 

                        {% with sub=todos_sub_dict|get_item:todo.id %}
                            {% for i in sub|to_range %}
                                <div level="{{sub}}"></div>
                            {% endfor %}
                        {% endwith %} 
                            
                        </div>
                        <!-- edit page -->
                    </div>

                    {% endfor %}
                </div>
                
            </div>
            
        </div>
    </div>
    
</main>

{% endblock %}

{% block extra %}
<script src="{% static 'js/calendar.js' %}"></script>
<script src="{% static 'js/candlestick.js' %}"></script>
<script src="{% static 'js/todo2.js' %}"></script>
<script>
    const followClick = async () =>{
        const followButton = document.querySelector("#followBtn");
        const buttonText = followButton.textContent;

        const formData = new FormData();
        formData.append("buttonText",buttonText);

        const username = document.querySelector("#username_save");
        formData.append("username", username.textContent);

        const url = "/main/follow/";
        const res = await fetch(url, {
            method:"POST",
            headers:{},
            body: formData,
        });
        const {text} = await res.json();
        updateBtn(text);
    }
    const updateBtn = (text) => {
        const follow_btn = document.querySelector('#followBtn');
        follow_btn.textContent=text;
    }
</script>

{% endblock %}