{%load static%}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Favicons -->
    <link href="./images/favicon.png" rel="icon" />
    <!-- Google Fonts -->
    <link
      href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Jost:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
      rel="stylesheet"
    />
    <!-- CSS -->
    <link rel="stylesheet" href="{% static 'css/randing_page.css' %}">
    <link rel="stylesheet" href="{% static 'css/reset.css' %}">
    <title>TaskStock</title>
  </head>
  <body>
    <div>
      <header>
        <nav class="page-nav">
          <div class="page-nav__logo-container">
            <a href="">
              <img src="https://placekitten.com/120/30" alt="logo image">
            </a>
          </div>
          <div class="page-nav__button-container">
            <div class="page-nav__button-container--support">
              <a href="">
                <span>Support</span>
              </a>              
            </div>
            <div class="page-nav__button-container--login">
              <a href="">
                <span>Login</span>
              </a>
            </div>
          </div>

        </nav>
      </header>
      <main>
        <section id="page-banner">
          <div class="page-banner__container">
            <div class="page-banner__heading">
              <h1>Watch Your Task</h1>
              <h1>As Stock.</h1>
            </div>
            <div class="page-banner__start-btn">
              <a href="">
                <span>Get Started</span>
              </a>
            </div>
          </div>
        </section>
        <section id="container-box"></section>
        <section id="introduction-rules"></section>
        <section></section>
      </main>
      <footer></footer>

    </div>
  </body>
</html>