{% extends '../base2.html' %} {% load static %}
{%block page%}
<main class="search-main">
    <!-- 검색창 -->
    <div class="search-form-container">
        <form action="" class="search-form">
            <input type="text" placeholder="Search" name="search_content" id="search_content" autofocus>
        </form>
    </div>
    <!-- 실시간 순위 + 검색 결과 -->
    <div class="search-container">
        <!-- 실시간 순위 -->
        <div id="live-chart" class="live-chart">
            <h3 class="search-label">실시간 차트</h3>
            {% for user in users %}
            <a href="/main/profile/?username={{user.username}}">
                <div class="search-result__container">
                    <div class="search-result__left-container">
                        <div class="friend-info-pic">
                            {% if user.img %}
                                <img class="friend-info-pic" src="{{ user.img.url }}" alt="Profile Image">
                            {% else %}
                                <img class="friend-info-pic" src="{% static 'img/blank-profile-picture.png' %}" alt="Default Profile Image">
                            {% endif %}
                        </div>
                        <div class="search-result__name-container">
                            <h2>{{user.name}}</h2>
                            <p>{% if user.introduce %}{{ user.introduce }}{% endif %}</p>
                        </div>
                    </div>
                    <div class="search-result__right-container">
                        <div class="search-result__info">
                            <div class="search-result__right-upper-container">
                                {% if user.percentage < 0 %}
                                <img src="{% static 'img/icon-stock-up.png' %}" alt="up imgage">
                                {% elif user.percentage > 0 %}
                                <img src="{% static 'img/icon-stock-down.png' %}" alt="down imgage">
                                {% else %}
                                <i class="fa-solid fa-minus"></i>
                                {% endif %}
                            </div>
                            {% if user.percentage > 0 %}
                            <p style="color: red;">{{ user.percentage }} %</p>
                            {% elif user.percentage < 0 %}
                            <p style="color: blue;">{{ user.percentage }} %</p>
                            {% else %}
                            <p style="color: none;">{{ user.percentage }} %</p>
                            {% endif %}
                        </div>
                        
                    </div>    
                </div>
            </a>
            {% endfor %}
            
        </div>
        
        <!-- 검색 결과 -->
        <div id="search-users" class="displayNone">
            <h3 class="search-label">검색 결과</h3>
            <div class="search-result Scroll" id="search-users__result-container">
            </div>
        </div>
    </div>
</main>
{% endblock %}

{% block extra %}
<script>
    // 검색 창에 입력할 때마다 ajax로 유저 목록
    document.addEventListener("DOMContentLoaded", function(){
        const textarea = document.querySelector("#search_content");

        textarea.addEventListener("input", function(){
            const liveChartInput = document.querySelector('#live-chart');
            const searchResultInput = document.querySelector('#search-users');
            if(textarea.value==""){
                liveChartInput.classList.remove('displayNone');
                searchResultInput.classList.add('displayNone');
            }
            else{
                liveChartInput.classList.add('displayNone');
                searchResultInput.classList.remove('displayNone');
            }
            searchAjax(textarea.value);
        });
    });
    
    const searchAjax = async (text) =>{
        const formData = new FormData();
        formData.append("text", text);

        const url = "/main/search/ajax/";
        const res = await fetch(url, {
            method:"POST",
            headers:{},
            body: formData,
        });
        const {users: users} = await res.json();
        showUserList(users);
    }
    const showUserList = (users) => {
        const currentInput = document.querySelector('#search-users__result-container');
        currentInput.innerHTML="";

        let up_down_image = '<i class="fa-solid fa-minus"></i>';
        let percent_color = "none"

        // users가 [] 인 경우 빈 배열이므로 null이 아님
        if(users.length > 0){
            for (const user of users) {
                if(user.introduce==null){
                    tmpintrodue="";
                }else{
                    tmpintrodue=user.introduce;
                }

                if(user.percentage<0) {
                        up_down_image = '<img src="{% static "img/icon-stock-down.png" %}">';                        
                        percent_color = 'blue'
                    } else if (user.percentage>0) {
                        percent_color = 'red'
                        up_down_image = '<img src="{% static "img/icon-stock-up.png" %}">';                      
                    }
                
                atagInput = document.createElement('a');
                atagInput.href="/main/profile/?username="+user.username;

                atagInput.innerHTML = `
                    <div class="search-result__container searched-result__searched-user">
                        <div class="search-result__left-container searched-result__searched-user__left-container">
                            <div class="friend-info__pic">
                                <img class="friend-info-pic" src="${user.img_src}" alt="${user.img_alt}">
                            </div>
                            <div class="search-result__name-container">
                                <h2>${user.name}</h2>
                                <p>${tmpintrodue}</p>
                            </div>
                        </div>
                        <div class="search-result__right-container searched-result__searched-user__right-container" >
                            <div class="search-result__info">
                                <div class="search-result__right-upper-container">
                                    ${up_down_image}
                                </div>
                                <p style="color: ${percent_color};">${user.percentage}%</p>
                            </div>

                        </div>    
                    </div>
                `;
                currentInput.appendChild(atagInput);
            }
        }
    }

</script>
{% endblock %}