    {% extends '../base2.html' %} {% load static %}
    {%block page%}
    <main class="main--settings">
        <div class="settigs-header">
            <h1>Settings</h1>
        </div>
        <div class="settings-content">
            <div class="settings-menu">
                <div class="settings-menu__container">
                    <div class="settings-menu__edit-profile">
                        <!-- <i></i> -->
                        <a href="#edit-profile" onclick="onNavigationClick('settings-menu__edit-profile');smoothScrollToElement('edit-profile',event);">
                            <div class="bar-icon__container">
                                <div class="bar-icon"></div>
                                <h3 class="settings-menu__h3">Edit Profile</h3>
                            </div>
                        </a>
                    </div>
                    <div class="settings-menu__notification">
                        <a href="#set-alarm" onclick="smoothScrollToElement('set-alarm',event);onNavigationClick('settings-menu__notification');">
                            <div class="bar-icon__container">
                                <div class="bar-icon hidden"></div>
                                <h3 class="settings-menu__h3">Notification</h3>
                            </div>
                        </a>
                    </div>
                    <div class="settings-menu__switch-to-private">
                        <a href="#public-private" onclick="smoothScrollToElement('public-private',event);onNavigationClick('settings-menu__switch-to-private');">
                            <div class="bar-icon__container">
                                <div class="bar-icon hidden"></div>
                                <h3 class="settings-menu__h3">Switch to private</h3>
                            </div>
                        </a>
                    </div>
                    <div class="settings-menu__language">
                        <a href="#language" onclick="smoothScrollToElement('language',event);onNavigationClick('settings-menu__language');">
                            <div class="bar-icon__container">
                                <div class="bar-icon hidden"></div>
                                <h3 class="settings-menu__h3">Language</h3>
                            </div>
                        </a>
                    </div>
                {% if not user.socialaccount_set.exists %}
                    <div class="settings-menu__password">
                        <a href="#reset-password" onclick="smoothScrollToElement('reset-password',event);onNavigationClick('settings-menu__password');">
                            <div class="bar-icon__container">
                                <div class="bar-icon hidden"></div>
                                <h3 class="settings-menu__h3">Password</h3>
                            </div>
                        </a>
                    </div>
                {% endif %}
                </div>
            </div>
            <div class="settings-detail">
                <div class="settings-detail__edit-profile settings-detail-element">
                    <h1 id="edit-profile">Edit Profile</h1>
                    <div class="settings-detail__profile-container">
                        {% if user.img %}
                            <img src="{{ user.img.url }}" alt="Profile Image">
                        {% else %}
                            <img src="{% static 'img/blank-profile-picture.png' %}" alt="Default Profile Image">
                        {% endif %}
                        <div class="settings-detail__description-container">
                            <h3>{{ user.name}}</h3>
                        </div>
                    </div>

                    <form method="POST" action="/main/settings/update_userinfo/" class="profile-update__form" enctype="multipart/form-data">
                        {% csrf_token %}

                        <!-- 닉네임 업데이트 부분 -->
                        <div class="profile-name__input">
                            <label for="name">사용자 이름</label>
                            <input type="text" id="name" name="name" placeholder="{{ user.name }}" placeholder="Enter your name">
                        </div>

                        <!-- 이미지 업데이트 부분 -->
                        <div class="profile-image__input">
                            <label for="profile-image">프로필 사진 수정</label>
                            <input type="file" id="profile-image" name="img">
                        </div>

                        <!-- 소개 업데이트 부분 -->
                        <div class="profile-description__textarea">
                            <label for="profile-description">소개</label>
                            <textarea rows="1" name="profile-description" id="profile-description" cols="40" rows="5">{% if user.introduce %}{{ user.introduce }}{% endif %}</textarea>
                            <p>0/20</p>
                        </div>
                        
                        <button type="submit">완료</button>

                    </form>

                    
                </div>
                <div class="settings-detail__set-alarm settings-detail-element">
                    <h1 id="set-alarm">Email Notification</h1>
                    <div class="settings-detail__container">
                        
                        <form action="" class="email-alarm__form">
                            {% csrf_token %}
                            <div class="radio__set preventSelect">
                                <label>
                                    <input type="radio" name="email_alarm" value="alarm-set" onchange="updateProfile(this)" onclick="return(false);" {% if user.email_alarm %} checked {% endif %} />
                                    설정
                                </label>
                                <p>미출시 기능입니다.</p>
                            </div>
                            <div class="radio__set">
                                <label>
                                    <input type="radio" name="email_alarm" value="alarm-reset" onchange="updateProfile(this)" {% if not user.email_alarm %} checked {% endif %} />
                                    해제
                                </label>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="settings-detail__set-public-private settings-detail-element">
                    <h1 id="public-private">Switch to private</h1>
                    <div class="settings-detail__container">
                        <form action="" class="public-private__form">
                            {% csrf_token %}
                            <div class="radio__set">
                                <label>
                                    <input type="radio" name="security" value="public" onchange="updateProfile(this)" {% if not user.hide %} checked {% endif %} />
                                    public
                                </label>
                            </div>
                            <div class="radio__set preventSelect">
                                <label>
                                    <input type="radio" name="security" value="private" onchange="updateProfile(this)" onclick="return(false);" {% if user.hide %} checked {% endif %} />
                                    private
                                </label>
                                <p>미출시 기능입니다.</p>
                            </div>                            
                        </form>
                    </div>      
                </div>
                <div class="settings-detail__set-language settings-detail-element">
                    <h1 id="language">Language</h1>
                    <div class="settings-detail__container">
                        <form action="" class="language__form">
                            {% csrf_token %}
                            {% if user.language == 'KR' %}
                            <div class="radio__set">
                                <label>
                                    <input type="radio" name="language" value="KR" onchange="updateProfile(this)" checked />
                                    한국어
                                </label>
                            </div>
                            <div class="radio__set preventSelect">
                                <label>
                                    <input type="radio" name="language" value="EN" onchange="updateProfile(this)"  onclick="return(false);" />
                                    English
                                </label>
                                <p>미출시 기능입니다.</p>
                            </div>
                            {% elif user.language == 'EN' %}
                            <div class="radio__set">
                                <label>
                                    <input type="radio" name="radio_answer" value="KR" onchange="updateProfile(this)" />
                                    한국어
                                </label>
                            </div>
                            <div class="radio__set">
                                <label>
                                    <input type="radio" name="radio_answer" value="EN" onchange="updateProfile(this)" checked />
                                    English
                                </label>
                                <p>미출시 기능입니다.</p>
                            </div>
                            {% endif %}
                            
                        </form>
                    </div>      
                </div>
                {% if not user.socialaccount_set.exists %}
                <div class="settings-detail__set-password settings-detail-element">
                    <h1 id="reset-password">비밀번호 바꾸기</h1>
                    <div class="settings-detail__container">
                        <form onsubmit="changePassword(event)" class="reset-password__form">
                            {% csrf_token %}
                            <div class="reset-password__container">
                                <label for="current-password">현재 비밀번호</label>
                                <input type="password" name="current-password" id="current-password">
                            </div>
                            <div class="reset-password__container">
                                <label for="new-password">새 비밀번호</label>
                                <input type="password" name="new-password" id="new-password">
                            </div>
                            <div class="reset-password__container">
                                <label for="new-password-check">새 비밀번호 확인</label>
                                <input type="password" name="new-password-check" id="new-password-check">
                            </div>
                            <div id="cpw-error-message" style="color: red;"></div>
                            <div id="cpw-success-message" style="color: green;"></div>
                            <button type="submit">완료</button>
                        </form>
                    </div>      
                </div>
                {% endif %}
            </div>
        </div>
 
    </main>

    {% endblock %}



    {% block extra %}
    <script src="{% static 'js/settings.js' %}"></script>
    {% endblock %}