.alarm-main {
   
    overflow: hidden;
    color: var(--text-color);
    display: flex;
    justify-content: center;
}

.alarm-container {
    display: flex;
    flex-direction: column;
    width: 90%;
    gap: var(--gutter);


} 
.alarm-header > h1 {
    padding: var(--offset) 0 0;
    font-size: var(--heading3);
    font-weight: var(--weight3);
    color: var(--checked-border);
}
.alarm-content {
    border-radius: var(--border-r);
    padding: var(--gutter);
    overflow-y: scroll;
} 


/* 알림리스트 영역 작업 */

.alarm-lists {
    display: flex;
    flex-direction: column;
    width: 100%;
    border-radius: var(--border-r);
    padding: var(--gutter);
    gap: var(--gutter);
}
.alarm-list {
    width: 100%;
    border-radius: var(--border-r);
    box-shadow: var(--shadow);
    padding: var(--gutter);
    background-color: var(--box-color);
}
.alarm-content__container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
}
.alarm-image__container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 45px;
    height: 45px;
    margin-right: var(--gutter);
}
.alarm-image__container>img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
}
.alarm-time{
    margin-left: auto;
}
.alarm-content > span{
    font-size: var(--body1);
    font-weight: var(--weight3);
    padding-bottom: 7px;
    display: block;
}