:root {
    --offset: 40px; /*양쪽마진*/
    --max_width: 1440px; /*컨테이너폭*/
    --columns: 12; /*컬럼갯수*/
    --gutter: 16px; /*거터폭*/
    --pading-top: 48px;
    /* color */
    --black: #37352F;

    /* main : green */
    --green_50: #E8F5E9;
    --green_100: #C8E6C9;
    --green_200: #A5D6A7;
    --green_300: #81C784;
    --green_400: #66BB6A;
    --green_500: #4CAf50;
    --green_600: #43A047;
    --green_700: #388E3C;
    --green_800: #2E7D32;
    --green_900: #1B5E20;

    /* error : red */
    --red: #d30808;
    
    /* grey */
    --grey_bg: #FBFBFA;
    --grey_border: rgba(233, 233, 231);
    --grey_400: #BDBDBD;
    --grey_600: #757575;
    --grey_700: #616161;

    /* font */
    --hero: 50px;
    --heading1: 38px;
    --heading2: 28px;
    --heading3: 22px;
    --subheading: 18px;
    --body1: 16px;
    --body2: 14px;
    --caption: 12px;

    /* border-radius */
    --border-r: 8px;
    /* shadow */
    --box-shadow: rgba(233, 233, 231) 1.95px 1.95px 2.6px;
}

.alarm-main {
    width: 100%;
    height: 100vh;
    padding: var(--gutter) var(--gutter);
    display: flex;
    justify-content: center;

}

.alarm-container {
    display: flex;
    flex-direction: column;
    width: 70%;
    height: 100vh;
    overflow: hidden;
    gap: var(--gutter);
    padding-bottom: var(--gutter);    
}
.alarm-header{
    padding-left: var(--offset);
    padding-top: var(--gutter);
}
.alarm-header > h1 {
    color: #fff;
    font-size: var(--heading1);
    font-weight: 600;
}
.alarm-content {
    display: flex;
    width: 100%;
    overflow: hidden;
    border-radius: var(--border-r);
    background-color: var(--grey_bg);
    box-shadow: var(--box-shadow);
    padding: var(--gutter);
}


/* 알림리스트 영역 작업 */

.alarm-lists {
    display: flex;
    flex-direction: column;
    width: 100%;
    overflow: hidden;
    border-radius: var(--border-r);
    background-color: var(--grey_bg);
    box-shadow: var(--box-shadow);
    padding: var(--gutter);
    flex-direction: column;
    gap: var(--gutter);
}
.alarm-list {
    display: flex;
    width: 100%;
    overflow: hidden;
    border-radius: var(--border-r);
    background-color: var(--grey_bg);
    box-shadow: var(--box-shadow);
    padding: var(--gutter);
}

.alarm-list:hover {
    background-color: var(--grey_400);
    cursor: pointer;
}

.alarm-content__container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
}

.alarm-image__container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 14%;
}

.alarm-image__container>img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
}

.alarm-description__container {
    display: flex;
    flex-direction: column;
    gap: var(--gutter);
    width: 80%;
}

.alarm-description__container > h3 {
    font-size: var(--body1);
    font-weight: 600;
}

.alarm-description__container > span {
    font-size: var(--caption);
    color: var(--grey_600);
}

.alarm-time__container {
    display: flex;
    flex-direction: column;
    gap: var(--gutter);
    width: 6%;
}
.alarm-time__container > span {
    font-size: var(--caption);
    color: var(--grey_600);
}