:root{
    --bg-1: #1B1B1B;
    --bg-2: #363636;
    --bg-3: rgb(222, 222, 222);

    --red-1: #DD1717;
    --red_error: #ff0033;
    --blue-1: #124392;
    --yellow_star: #FFBC12;



    /* font size */
    --hero: 50px;
    --heading1: 38px;
    --heading2: 28px;
    --heading3: 22px;
    --subheading: 18px;
    --body1: 16px;
    --body2: 14px;
    --caption: 12px;


    /* font weight */
    --weight1: 400;
    --weight2: 500;
    --weight3: 700;

    --gutter: 16px;
    --border-r: 8px;
    --shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

    --transition: 0.3s;
}


body{
    width: 100%;
    height: 100vh;
    display: flex;
}
section{
    width: 350px;
    background-color: var(--bg-1);
    color: white;
    padding: var(--gutter);
}
main{
    flex-grow: 1;
    background-color: white;
}
section header{
    font-size: var(--heading2);
    font-weight: var(--weight3);
    padding: var(--gutter) 0;
    display: flex;
    justify-content: space-between;
    position: relative;
}
section header h1{
    font-size: 0;
}
section header img{
    height: 30px;
}
.my-info--container{
    width: 100%;
    display: flex;
    align-items: center;
}
.my-info--pic{
    width: 90px;
    height: 90px;
    background-color: grey;
}
.my-info--about{
    flex-grow: 1;
    padding: var(--gutter);
    overflow: hidden;
}
.my-info--name{
    font-size: var(--heading3);
    margin-bottom: 5px;
}
.my-info--comment{
    font-size: var(--body2);
    margin-bottom: 10px;
}
.my-info--sff__container{
    display: flex;
    justify-content: space-between;
}
.my-info--sff{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.my-info--sff span:first-child{
    font-size: var(--caption);
    display: block;
    margin-bottom: 10px;
}
.my-info--sff span{
    cursor: pointer;
}

.hamburger{
    width: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    gap: 5px;

}
.hamburger div{
    width: 25px;
    height: 2px;
    background-color: white;
}
.hamburger.active + .hamburger-contents{
    right: -100px;
    opacity: 1;
    visibility: visible;
}
.hamburger-contents{
    position: absolute;
    display: flex;
    flex-direction: column;
    top: var(--gutter);
    right: -50px;
    background-color: var(--bg-2);
    color: white;
    justify-content: center;
    align-items: center;
    gap: 30px;
    padding: var(--gutter);
    border-radius: var(--border-r);
    transition: var(--transition);
    opacity: 0;
    visibility: hidden;
    z-index: 1000;
    
}
.hamburger-contents a,
.hamburger-contents .menu-right__darkmode{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    z-index: 1001;
}
.hamburger-contents a > div,
.hamburger-contents > div{
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.hamburger-contents div i{
    color: white;
}
.hamburger-contents span{
    font-size: var(--caption);
    font-weight: var(--weight2);
    position: absolute;
    left: 20px;
    top: 50%;
    transform: translateY(-50%);
    color: black;
    visibility: hidden;
    display: block;
    transition: var(--transition);
    z-index: 5;
    opacity: 0;
    white-space: nowrap;
    padding: 7px 10px;
    border-radius: var(--border-r);
    
}
.hamburger-contents a:hover span,
.hamburger-contents > div:hover span{
    visibility: visible;
    left: 50px;
    opacity: 1;
    background-color: var(--bg-3);
}

/* search */
.follow-container{
    overflow-y: scroll;
}
.follow-container::-webkit-scrollbar {
    display: none;
}
.displayNone{
    display: none !important;
}
.follow-search-container{
    position: relative;
}
#follow_search_content{
    width: 100%;
    color: white;
    height: 34px;
    border-radius: var(--border-r);
    border: 1px solid white;
    background-color: transparent;
    padding: var(--gutter);
    margin-top: 10px;
    margin-bottom: var(--gutter);
}
#follow_search_content + .gg-search{
    position: absolute;
    color: white;
    top: 35%;
    --ggs: 0.7;
    right: 10px;
}
.friend-item{
    display: flex;
    border-radius: var(--border-r);
    border: 1px solid white;
    padding: var(--gutter);
    justify-content: space-between;
    margin-bottom: var(--gutter);


}
.search-result__right--container{
    display: flex;
}
.search-result__name-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.friend-info--pic{
    width: 50px;
    height: 50px;
    background-color: grey;
    margin-right: var(--gutter);
}
.search-result__name-container h2{
    font-size: var(--body1);
    margin-bottom: 5px;
}
.search-result__name-container p{
    font-size: var(--caption);
}