.calendar-container{
    margin-bottom: var(--gutter);
}
.cal--weekdays,
.cal--calendar{
    display: grid;
    grid-template-columns: repeat(7, calc(100% / 7));
}
.cal--weekdays > div,
.cal--calendar > div{
    text-align: center;
}
.cal--weekdays > div{
    padding: var(--gutter) 0;
}
.cal--calendar > div{
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: var(--transition);
}
.cal--calendar > div:hover{
    border-bottom: 2px solid var(--bg-1);
}
.cal--header{
    display: flex;
    justify-content: space-between;
    padding: 0 var(--gutter);
}

#monthDisplay{
    width: 200px;
    text-align: center;
    padding: 0 var(--gutter) 0 0;
    display: flex;
}
.monthDisplay--month{
    font-size: var(--heading2);
    font-weight: 600;
}
