.group-category{
    height: 100vh;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    width: calc(100% - 350px);
}
.category-header{
    padding: var(--offset) var(--offset) 0;
    display: flex;
    gap: var(--gutter);
    align-items: center;
    height: 70px;
    width: 100%;
}
.category-header > h1 {
    font-size: var(--heading3);
    font-weight: var(--weight3);
    color: var(--checked-border);
}
.category-header i{
    cursor: pointer;
    flex-shrink: 0;
}
.info-container{
    transition: 0.8s ease;
    visibility: hidden;
    opacity: 0;
    position: relative;
    left: -50px;
    width: calc(100% - 110px);
    word-wrap: break-word;
}
.info-container.show{
    left: 0;
    visibility: visible;
    opacity: 1;
}
.category-header p{
    /* font-size: 0; */
    word-wrap: break-word;
    font-size: var(--caption);
}
.mb-info-container{
    display: none;
}
@media screen and (max-width: 600px) {
    .info-container{
        display: none;
    }
    .mb-info-container.show{
        padding: var(--gutter) var(--offset);
        display: block;
    }
}
#category-content {
    display: flex;
    width: 100%;
    overflow: hidden;
    border-radius: var(--border-r);
    padding: var(--gutter);
    gap: var(--gutter);
    flex-grow: 1;
    position: relative;
}
#category-container {
    width: 300px;
    border-radius: var(--border-r);
    box-shadow: var(--shadow);
    padding: var(--gutter);
    border: 1px solid var(--none-border);
    overflow-y: scroll;
    overflow-x: visible;
}
#category-detail-container {
    flex-grow: 1;
    border-radius: var(--border-r);
    box-shadow: var(--shadow);
    padding: var(--offset);
    overflow-y: scroll;
    scroll-padding-top: var(--offset);
    border: 1px solid var(--none-border);
    display: flex;
    flex-direction: column;
}
@media screen and (max-width: 900px) {
    #category-content{
        flex-direction: column;
    }        
    #category-container,
    #category-detail-container{
        width: 100%;
    }
    #category-container{
        height: 30%;
        flex-shrink: 0;
    }
    .categories-container{
        display: grid;
        grid-template-columns: repeat(2, calc(50% - var(--gutter) / 2));
        gap: var(--gutter);
    }
    #category-finish-list h2:first-child{
        padding-top: 0;
    }
}
#category-container > button{
    background-color: var(--body-color);

    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    transition: var(--transition);
    margin-left: auto;
}
#category-container > button i{
    color: var(--checked-border);
    font-size: 24px;
}
#category-container > button:hover{
    background-color: var(--box-color);
}
#category-container > button.active{
    transform: rotate(45deg);
}
#create_category{
    position: absolute;
    top: 100px;
    left: 165px;
    width: 250px;
    background-color: var(--section-color);
    position: absolute;
    border-radius: var(--border-r);
    padding: var(--gutter);
    color: white;
    flex-direction: column;
    align-items: flex-start;
    gap: var(--gutter);
    display: flex;
    transition: 0.3s;
    z-index: 2000;
    visibility: visible;
    opacity: 1;
    
}
#create_category::before{
    content: '';
    position: absolute;
	left: 45%;
	top: 0%;
	width: 0;
	height: 0;
	border: 20px solid transparent;
	border-bottom-color: var(--bg-1);
	border-top: 0;
	margin-top: -20px;
	margin-left: -20px;
}
#create_category input{
    width: 100%;
    color: white;
    height: 34px;
    border-radius: var(--border-r);
    border: 1px solid white;
    background-color: transparent;
    padding: var(--gutter);
    margin: 10px 0;
}
#create_category label,
#error-message-category{
    font-size: var(--caption);
}
#create_category form > button{
    display: block;
    margin-left: auto;
    margin-top: var(--gutter);
    color: white;
}

.category-item{
    display: flex;
    width: 100%;
    /* box-shadow: var(--shadow); */
    background-color: var(--bg-5);
    border-radius: var(--border-r);
    padding: var(--gutter);
    justify-content: space-between;
    margin-bottom: var(--gutter);
    cursor: pointer;
    font-size: var(--body2);
    transition: var(--transition);
    position: relative;
    top: 0;
}
.category-item:hover{
    top: -2px;
}
.category-item h2{
    overflow:hidden;
    white-space:nowrap;
    text-overflow:ellipsis;
    padding: 0 10px;
}
#create_category.inactive{
    opacity: 0;
    visibility: hidden;
}
#category-not-finish-list > h2,
#category-finish-list > h2{
    color: var(--checked-border);
    padding-bottom: var(--gutter);
    font-size: var(--body1);
    font-weight: var(--weight3);
}
#category-not-finish-list #cnff-h2,
#category-finish-list #cff-h2,
#category-detail-container h2{
    font-size: var(--body2);
    font-weight: var(--weight1);
    text-align: center;
}
#category-not-finish-list #cnff-h2,
#category-finish-list #cff-h2{
    color: var(--text-color);
}
#category-detail-container h2{
    margin: auto 0;
}
#category-not-finish-list #cnff-h2,
#category-finish-list > h2{
    padding-top: var(--gutter);
}
#cdc-name-box{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
#cdc-name-box h2{
    font-size: var(--heading3);
    color: var(--checked-border);
    font-weight: var(--weight3);
}
#category-detail-container{
    display: flex;
    flex-direction: column;
    gap: var(--gutter);
}
#cdc-memory-box{
    display: flex;
    flex-direction: column;
    gap: var(--gutter);
    padding-top: var(--gutter);
}
#cdc-memory-box textarea{
    resize: none;
    border-radius: var(--border-r);
}
#cdc-memory-box h2{
    text-align: start;
}
#cdc-memory-box button{
    margin-left: auto;
}
.displayNone{
    display: none !important;
}

#category-content{
    display: flex;
}

#category-detail-container input[type="checkbox"]{
    appearance: auto;
}
#category-memory{
    padding: var(--gutter);
    font-size: var(--body2);
    color: var(--text-color);
    background-color: transparent;
}
#category-memory:focus,
.edit-name--input:focus{
    outline: none;
}
#cdc-name-box button i,
#category-memory + button,
#cdc-finish-box label{
    color: var(--text-color)!important;
}
/* 체크박스 디자인 */
#cdc-finish-box .control {
    display: block;
    position: relative;
    padding-left: 30px;
    cursor: pointer;
    font-size: var(--body2);
    line-height: 23px;
}
#cdc-finish-box .control input {
    position: absolute;
    z-index: -1;
    opacity: 0; 
}
#cdc-finish-box .control__indicator {
    position: absolute;
    top: 2px;
    left: 0;
    height: 20px;
    width: 20px;
    background: #e6e6e6;
}
#cdc-finish-box .control:hover input ~ .control__indicator,
#cdc-finish-box .control input:focus ~ .control__indicator {
    background: #ccc;
}
#cdc-finish-box .control input:checked ~ .control__indicator {
    background: #2aa1c0;
}
#cdc-finish-box .control:hover input:not([disabled]):checked ~ .control__indicator,
#cdc-finish-box .control input:checked:focus ~ .control__indicator {
    background: #0e647d;
}
#cdc-finish-box .control input:disabled ~ .control__indicator {
    background: #e6e6e6;
    opacity: 0.6;
    pointer-events: none;
}
#cdc-finish-box .control__indicator:after {
    content: '';
    position: absolute;
    display: none;
}
#cdc-finish-box .control input:checked ~ .control__indicator:after {    
    display: block;
}
#cdc-finish-box .control--checkbox .control__indicator:after {
    left: 8px;
    top: 4px;
    width: 3px;
    height: 8px;
    border: solid #fff;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
}
#cdc-finish-box .control--checkbox input:disabled ~ .control__indicator:after {
    border-color: #7b7b7b;
}

/* delete btn */
#cdc-delete-box{
    display: flex;
    justify-content: flex-end;
    /* border: 1px solid var(--red_error); */
    align-items: center;
    font-size: var(--body2);
    margin-top: var(--offset);
}
#cdc-delete-box button{
    font-size: var(--body2);
    padding: 10px 16px;
    background-color: var(--red_error);
    border: 1px solid var(--red_error);
    border-radius: var(--border-r);
    color: white;
    position: relative;
}
#cdc-delete-box button:hover{
    top: -2px;
}




.edit-name--input{
    width: 300px;
    padding: 7px 10px;
    color: var(--text-color);
    font-size: var(--heading3);
    font-weight: var(--weight3);
    background-color: transparent;
    border-radius: var(--border-r);
    border: 1px solid var(--border-color);
}
.mb-backToList{
    display: none;
}
@media screen and (max-width: 600px) {
    #category-container {
        width: 100%;
        height: auto;
    }
    #category-detail-container{
        display: none;
        height: 100%;
        padding: 30px var(--gutter);
    }
    .categories-container{
        display: grid;
        grid-template-columns: auto;
        gap: var(--gutter);
    }
    .mb-backToList{
        margin-left: auto;
        cursor: pointer;
    }
    .mb-backToList.showCat{
        display: block;

    }
    .mb-backToList i{
        font-size: var(--subheading);
    }
    
}

.modal-h2{
    font-size: var(--body2);
    font-weight: var(--weight1);
    text-align: center;
}

.modal.modal-center {
  text-align: center;
}
  
@media screen and (min-width: 768px) { 
    .modal.modal-center:before {
        display: inline-block;
        vertical-align: middle;
        content: " ";
        height: 100%;
    }
}
  
.modal-dialog.modal-center {
  display: inline-block;
  text-align: left;
  vertical-align: middle; 

  width: 20%;
  height: 100%;
  margin: 0;
  padding: 0;
  padding-top: 10%;
}

.modal-content.modal-center {
  height: auto;
  min-height: 100%;
  border-radius: 0; 
}