#search-group-main,
.group-main{
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    padding-bottom: var(--offset);
}
.search-group-header,
.group-header{
    padding: var(--offset) var(--offset) 0;
}
.search-group-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.search-group-header > h1,
.group-header > h1 {
    font-size: var(--heading3);
    font-weight: var(--weight3);
    color: var(--checked-border);
}
.group-header--right{
    display: flex;
    align-items: center;
    gap: var(--gutter);
}
.create-group,
#mb-search-btn{
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: var(--heading3);
    cursor: pointer;
    position: relative;
    border-radius: 50%;
    transition: var(--transition);
}
.create-group > i{
    transition: var(--transition);
}
.create-group.active > i{
    transform: rotate(45deg);
}
.create-group:hover,
#mb-search-btn:hover{
    background-color: var(--box-color);
}
.search-group-header form input{
    color: var(--checked-border);
    height: 30px;
    width: 250px;
    border-radius: var(--border-r);
    border: 1px solid var(--grey_border);
    box-shadow: var(--shadow);
    background-color: transparent;
    padding: var(--gutter);
    font-size: var(--body2);
}
#name-input{
    color: white;
}
.create-group--show{
    position: absolute;
    top: 60px;
    right: -13px;
    padding: var(--gutter);
    font-size: var(--body2);
    background-color: var(--section-color);
    color: white;
    border-radius: var(--border-r);  
    align-items: flex-start;
    transition: var(--transition);
    opacity: 0;
    visibility: hidden;
    z-index: 2000;
}
.create-group--show div,
.create-group--show input,
.create-group--show button{
    color: white;
    font-size: var(--body2);
}
.create-group.active .create-group--show{
    opacity: 1;
    visibility: visible;
}
.create-group--show form{
    display: flex;
    flex-direction: column;
    gap: var(--gutter);
}
#create-button{
    margin-left: auto;
}
.create-group--show::before{
    content: '';
    position: absolute;
	right: 4%;
	top: 0%;
	width: 0;
	height: 0;
	border: 20px solid transparent;
	border-bottom-color: var(--bg-1);
	border-top: 0;
	margin-top: -20px;
	margin-left: -20px;
}
/* header ë */
.search-group--contents,
.search-group-container{
    padding: 0 var(--offset);
}
.my-group{
    margin-bottom: var(--offset);
}
.my-group h3,
.group-top10 h3,
.group-content > h3,
.search-group-users > h3{
    font-size: var(--subheading);
    font-weight: var(--weight3);
    color: var(--checked-border);
    margin: var(--gutter) 0;
}
.group-content > h3{
    padding: var(--gutter) 0;
}
.my-group__container{
    width: calc((100% - 4 * var(--gutter)) / 5);
}
.my-group__container,
.group-top10__container,
.group-user,
.search-group-result__container{
    padding: var(--gutter);
    border-radius: var(--border-r);
    background-color: var(--bg-5);
}
.my-group__container a,
.group-top10__container,
.search-group-result__container{
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.group-top10__container{
    position: relative;
}
.my-group__container a h2,
.group-top10__container a h2,
.search-group__header a h2{
    width: 100%;
    overflow:hidden;
    text-overflow:ellipsis;
    white-space:nowrap;
    font-size: var(--subheading);
    color: var(--checked-border);
    padding-bottom: var(--gutter);
}
.group-top10__container a h2,
.search-group__header a h2{
    width: 100px;
}
.my-group__container p,
.group-top10__container p,
.search-group-result__container p{
    font-size: var(--body2);
    display: flex;
    gap: 5px;
}
.my-group__container p i,
.group-top10__container p i,
.search-group-result__container p{
    width: 15px;
}
.my-group__none{
    font-size: var(--body2);
    text-align: center;
}
.topGroup-wrap,
.group-content__ul,
.search-group-result{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: var(--gutter);
}
.group-content__ul{
    padding-bottom: var(--offset);
}
.group-top10__header,
.search-group__header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.group-top10__header form,
.search-group__header form{
    padding-bottom: var(--gutter);
}
.group-top10__header form .add-button,
.search-group__header form .add-button{
    background-color: var(--body-color);
    padding: 7px 10px;
    border-radius: var(--border-r);
    color: var(--text-color);
    font-size: var(--body2);
}
.group-top10__header form .add-button:hover,
.search-group__header form .add-button:hover{
    position: relative;
    top: -2px;
}
.group-user{
    position: relative;
}
.top3-trophy,
.members-top3-trophy{
    position: absolute;
    top: -10px;
    right: -5px;
    font-size: var(--heading2);

}
/* group detail */
.group-header{
    display: flex;
    justify-content: space-between;
}
.group-header form{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
#update-input{
    width: min(300px, 100%);
    padding: 7px 10px;
    color: var(--text-color);
    font-size: var(--heading3);
    font-weight: var(--weight3);
    background-color: transparent;
    border-radius: var(--border-r);
    border: 1px solid var(--border-color);
}
#update-input:focus{
    outline: none;
}
#update-button i{
    font-size: var(--subheading);
    margin-left: var(--gutter);
    color: var(--checked-border);
}
#groupName-editBtn i{
    color: var(--checked-border);
}
.group-content{
    padding: var(--gutter) var(--offset);
}
.group-content__info{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: var(--gutter);

}
.group-content__text{
    border-radius: var(--border-r);
    background-color: var(--box-color);
    padding: var(--gutter);
}
.group-content__text h3{
    font-size: var(--body2);
    padding-bottom: 5px;
}
.group-content__text span{
    font-size: var(--subheading);
    color: var(--checked-border);
    
}
.group-user__username{
    font-size: var(--subheading);
    font-weight: var(--weight3);
    padding: 5px 0;
}
.group-user__value{
    font-size: var(--body1);
}



.hidden {
    display: none;
}


/* delete, leave btns */
/* #cdc-delete-box{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size: var(--body2);
    margin-top: var(--offset);
} */
.leaveGroupBtn,
.joinGroupBtn,
#delete-button{
    font-size: var(--body2);
    padding: 10px 16px;
    background-color: var(--red-1);
    border: 1px solid var(--red-1);
    border-radius: var(--border-r);
    color: white;
    position: relative;
    margin-bottom: var(--gutter);
}
.leaveGroupBtn:hover,
.joinGroupBtn:hover,
#delete-button:hover{
    top: -2px;
}
.joinGroupBtn{
    background-color: green;
    border: 1px solid green;

}
#mb-search-btn,
#mb-searchCancel-btn{
    display: none;
}
@media screen and (max-width: 1400px){
    .my-group__container{
        width: calc((100% - 3 * var(--gutter)) / 4);
    }
    .topGroup-wrap,
    .group-content__ul{
        grid-template-columns: repeat(4, 1fr);
    }
}
@media screen and (max-width: 1200px){
    .my-group__container{
        width: calc((100% - 2 * var(--gutter)) / 3);
    }
    .topGroup-wrap,
    .group-content__ul{
        grid-template-columns: repeat(3, 1fr);
    }
}
@media screen and (max-width: 720px){
    .my-group__container{
        width: calc((100% - var(--gutter)) / 2);
    }
    .topGroup-wrap,
    .group-content__ul{
        grid-template-columns: repeat(2, 1fr);
    }
}
@media screen and (max-width: 500px){
    .my-group__container{
        width: 100%
    }
    .topGroup-wrap,
    .group-content__ul{
        grid-template-columns: repeat(1, auto);
    }
    #mb-search-btn,
    #mb-searchCancel-btn{
        cursor: pointer;
        display: block;
    }
    .group-header--right{
        width: 100%;
        justify-content: flex-end;
    }
    .search-group-header form{
        position: relative;
        width: 100%;
        
    }
    .search-group-header form input{
        display: none;
        width: 100%;
        font-size: var(--body2);
    }

    .group-header--right{
        gap: 10px;
    }
    .mb-searchCancel-btn{
        position: absolute;
        top: 50%;
        right: 14px;
        transform: translateY(-50%);
    }
    #mb-search-btn{
        position: relative;
        margin-left: auto;
    }
    #mb-search-btn i{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    .mb-searchCancel-btn i{
        font-size: var(--body1);
        display: none;
    }
    
}
@media screen and (max-width: 750px) {
    .group-content__info{
        grid-template-columns: repeat(2, 1fr);
    }
}
@media screen and (max-width: 400px) {
    .group-content__info{
        grid-template-columns: repeat(1, 1fr);
    }
}