main{
    display: flex;

}
.main-left{
    width: 60%;
    height: 100%;
    border-right: 1px solid var(--border-color);
    padding: var(--gutter);
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
}
.main-right{
    width: 40%;
    height: 100vh;
    padding: 0 var(--gutter);
    overflow-y: scroll;
    overflow-x: hidden;
}
.main-right--container{
    padding: var(--gutter) 0;
}
.chart-btn--container form{
    display: flex;
    gap: var(--gutter);
    justify-content: center;
    align-items: center;
}
.chart-btn{
    padding: 7px 10px;
    border-radius: var(--border-r);
    border: 1px solid var(--body-color);
    /* light: white / dark:  */
    cursor: pointer;
    font-size: var(--caption);
    transition: var(--transition);
}
.chart-btn:hover{
    border: 1px solid rgb(177, 176, 176);
}
.chart-btn--container input:checked + .chart-btn{
    border: 1px solid var(--checked-border);
    /* light: #000, dark: #fff */

}
.chart-btn--container label input{
    display: none;
}
.todo-plus--btn{
    cursor: pointer;
    background-color: var(--body-color);

    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    transition: var(--transition);
}
.todo-plus--btn i{
    color: var(--checked-border);

}
.cal--header{
    position: relative;

}
.todo-plus--btn:hover{
    background-color: var(--box-color);
}
.todo-plus--btn i{
    font-size: 24px;

}
.todo-add--container{
    background-color: var(--section-color);
    position: absolute;
    border-radius: var(--border-r);
    padding: var(--gutter);
    color: white;
    flex-direction: column;
    align-items: flex-start;
    gap: var(--gutter);
    display: flex;
    transition: var(--transition);
    opacity: 0;
    visibility: hidden;
    top: 80px;
    left: 0;
    z-index: 2000;
}
.todo-item--edit{
    padding: var(--gutter);
    color: white;
    display: flex;
    flex-direction: column;
    gap: var(--gutter);
}
.todo-plus.active .todo-add--container{
    visibility: visible;
    opacity: 1;
}
.todo-plus.active .todo-plus--btn{
    transform: rotate(45deg);
}
.todo-add--container::before{
    content: '';
    position: absolute;
	right: 4%;
	top: 0%;
	width: 0;
	height: 0;
	border: 20px solid transparent;
	border-bottom-color: var(--bg-1);
	border-top: 0;
	margin-top: -20px;
	margin-left: -20px;


}
.todo-item{
    background-color: var(--item-color);
    /* #fff, #323232 */
}
.todo-item > input{
    color: var(--checked-border);
    /* #000,  #fff*/
}
.todo-add--input input,
.todo-item--edit .todo-item--input input{
    width: 100%;
    color: white;
    height: 34px;
    border-radius: var(--border-r);
    border: 1px solid white;
    background-color: transparent;
    padding: var(--gutter);
    margin-top: 10px;
    
}
.todo-add--date,
.todo-item--date{
    padding-top: var(--gutter);
    font-size: var(--body1);
    margin: auto;
}
.todo-add--input,
.todo-item--input{
    width: 100%;
}
.todo-add--input span,
.todo-add--level span,
.todo-item--input span,
.todo-item--level span{
    font-size: var(--caption);
}
.sel-todo-level,
.edit-todo-level{
    margin-top: 10px;
    font-size: 24px;
    cursor: pointer;
    display: flex;
    gap: 5px;
}

.sel-todo-level div,
.edit-todo-level div{
    width: 20px;
    height: 28px;
    border: 1px solid white;
    border-radius: var(--border-r);

}
.sel-todo-level div.active,
.edit-todo-level div.active{
    background-color: var(--red-1);

    border: none;
}
.todo-add--submit-btn,
.todo-edit--submit-btn,
.todo-edit--delete-btn{
    width: 100%;
    height: 34px;
    border-radius: var(--border-r);
    border: 1px solid white;
    padding: var(--gutter);
    margin: var(--gutter) 0;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.edit-btn--container{
    display: flex;
    gap: var(--gutter);
}
.todo-paint{
    margin-top: var(--gutter);
}
.todo-item{
    width: 100%;
    box-shadow: var(--shadow);
    border-radius: var(--border-r);
    display: flex;
    gap: 5px;
    padding: 7px 10px;
    margin-bottom: var(--gutter);
    position: relative;
    align-items: center;

}
.todo-checkbox{
    width: 20px;
    border: 2px solid var(--red-1);
    border-radius: var(--border-r);
    height: 28px;
    flex-shrink: 0;

}
.todo-checkbox.True{
    background-color: var(--red-1);
}
.todo-item input{
    flex-grow: 1;
    background-color: transparent;
    border: none;
    cursor: pointer;   
    padding: 7px 10px;
    font-size: var(--body2);

}
.todo-item--edit{
    width: 400px;
    background-color: var(--section-color);
    border-radius: var(--border-r);
    position: absolute;  
    left: 30px;
    top: 80px;
    z-index: 2000;
    opacity: 0;
    visibility: hidden;
    transition: var(--transition);
}
.todo-item--edit::before{
    content: '';
    position: absolute;
	top: 0;
	left: 20%;
	width: 0;
	height: 0;
	border: 20px solid transparent;
	border-bottom-color: var(--bg-1);
	border-top: 0;
	margin-top: -20px;
	margin-left: -20px;

}
.todo-item--edit.active{
    opacity: 1;
    visibility: visible;
}
.todo-level{
    display: flex;
    gap: 5px;
}
.todo-level div{
    width: 7px;
    height: 20px;
    background-color: var(--level-blank);
    /* rgb(222,222,222),  #A4A4A4*/
    border-radius: var(--border-r);
}
.todo-level div.active{
    background-color: var(--red-1);
}
/* dashboard */
.dashboard{
    padding: var(--gutter);
    margin-bottom: var(--gutter);
}


.price{
    display: grid;
    grid-template-columns: repeat(3, calc((100% - 2 * var(--gutter)) / 3));
    gap: var(--gutter);
    margin: 0 var(--gutter);
    
}
.price > div,
.dashboard > div{
    border-radius: var(--border-r);
    display: flex;
    flex-direction: column;
    padding: var(--gutter);
    gap: 7px;
    background-color: var(--bg-5);
}
.price > div > span:first-child,
.dashboard > div > span:first-child{
    font-size: var(--body1);
    font-weight: var(--weight1);
}
.price > div > span:last-child,
.dashboard > div > span:last-child{
    color: var(--checked-border);
    font-weight: var(--weight2);
    font-size: var(--heading3);
}
.dashboard{
    display: flex;
    gap: var(--gutter);

}
.dashboard--combo{
    width: 150px;
    /* height: 70px; */
}
.dashboard--badge{
    flex-grow: 1;
    /* height: 70px; */
}