.search-main {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.search-form-container {
    padding-top: 100px;
}
.search-container {
    flex-grow: 1;
    overflow-y: scroll;
    width: 500px;
}

.search-form {
    position: relative;
}

.search-form input {
    width: 500px;
    color: var(--bg-1);
    height: 34px;
    border-radius: var(--border-r);
    border: 1px solid var(--bg-1);
    background-color: transparent;
    padding: var(--gutter);
    margin-bottom: var(--gutter);
}

.search-form button {
    position: absolute;
    right: 10px;
    top: 11px;
}

.search-result__container {
    display: flex;
    border-radius: var(--border-r);
    border: 1px solid var(--bg-1);
    padding: var(--gutter);
    justify-content: space-between;
    margin-bottom: var(--gutter);
}

.search-result__left-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.search-result__right-container {
    display: flex;
}

.search-result__name-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.friend-info-pic {
    width: 50px;
    height: 50px;
    background-color: grey;
    margin: 0 var(--gutter) 8px 0;
}

.search-result__name-container h2 {
    font-size: var(--body1);
    margin-bottom: 5px;
}

.search-result__name-container p {
    font-size: var(--caption);
}

.search-label {
    margin-bottom: var(--gutter);
}

/* 검색결과  속 유저 프로필 */
/* 검색 결과 속 유저 프로필 - 퍼센트, 팔로잉, 팔로워 */
.searched-result__searched-user__right-container {
    display: flex;
    align-items: baseline;
}

.search-result__info {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* padding: var(--gutter); */
}

.search-result__right-upper-container > h2 {
    font-size: var(--subheading);
    font-weight: 700;
}

.search-result__right-upper-container__current-percent , .search-result__right-upper-container > p {
    font-size: var(--body1);
    font-weight: 500;
}