.main--settings{
    display: flex;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
}

.settings-container {
    display: flex;
    flex-direction: column;
    width: 90%;
    gap: var(--gutter);
}
.settigs-header{
    padding-left: var(--offset);
    padding-top: var(--gutter);
}
.settigs-header > h1 {
    font-size: var(--heading1);
    font-weight: 600;
}
.settings-content {
    display: flex;
    width: 100%;
    /* flex-grow: 1; */
    overflow: hidden;
    border-radius: var(--border-r);
    background-color: var(--grey_bg);
    box-shadow: var(--shadow);
    padding: var(--gutter);
}
.settings-menu {
    width: 200px;
    border-radius: var(--border-r);
    background-color: var(--grey_bg);
    box-shadow: var(--shadow);
    padding: var(--gutter);
    border: 1px solid var(--grey_border);
    padding-top: var(--pading-top);
}
.settings-detail {
    flex-grow: 1;
    border-radius: var(--border-r);
    background-color: var(--grey_bg);
    box-shadow: var(--box-shadow);
    padding: var(--gutter);
    overflow-y: scroll;
    scroll-padding-top: var(--gutter);
}

.settings-detail > div:last-child {
    margin-bottom: 530px;
}

.settings-menu__container {
    display: flex;
    flex-direction: column;
    gap: var(--gutter);
}

.settings-menu__h3 {
    font-size: var(--subheading);
    font-weight: 600;
    margin: 5px;
    transition: 0.3s;
}
 
.settings-menu__h3:hover {
    color: var(--grey_400); 
} 

.settings-detail__edit-profile {
    display: flex;
    flex-direction: column;
    margin: 16px;
}

.settings-detail-element{
    margin:50px;
    margin-bottom: 40px;
}

.settings-detail-element > h1 {
    font-size: var(--heading2);
    font-weight: 600;
    margin: 5px;
}


/* bar-icon */
.bar-icon {
    width: 3px;
    height: 20px;
    margin-right: 10px;
    background-color: #000;
}

.hidden {
    display: none;
}

.bar-icon__container {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

/* edit-profile */
.settings-detail__profile-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.settings-detail__profile-container  > img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin: 10px;
    border: var(--grey_border) 1px solid;
}

.settings-detail__description-container > h3 {
    font-size: var(--body1);
    font-weight: 600;
    margin: 5px;
}

.profile-update__form {
    display: flex;
    flex-direction: column;
    gap: var(--gutter);
    margin-top: var(--pading-top);
}

.profile-description__form,
.profile-description__textarea {
    display: flex;
    gap: var(--gutter);
    flex-direction: column;
    padding-top: var(--gutter);
}

.profile-description__textarea > textarea {
    width: 100%;
    height: 100px;
    border-radius: var(--border-r);
    border: 1px solid var(--grey_border);
    background-color: var(--grey_bg);
    padding: var(--gutter);
    resize: none;
}

.profile-description__textarea p{
    margin-left: auto;
    font-size: var(--body2);
    color: var(--grey_700);

}

.profile-update__form label,
.reset-password__comtainer label{
    font-size: var(--body1);
    color: var(--grey_700);
}


.profile-name__input, .profile-image__input, .profile-description__textarea {
    display: flex;
    flex-direction: column;
    gap: var(--gutter);
    padding-top: var(--gutter);
}
.profile-image__input>input[type=file]::file-selector-button {
    width: 100px;
    height: 30px;
    background: #fff;
    border: 1px solid rgb(77,77,77);
    border-radius: 10px;
    cursor: pointer;
    &:hover {
      background: rgb(77,77,77);
      color: #fff;
    }
  }
.profile-name__input input,
.reset-password__comtainer input{
    width: 40%;
    height: 34px;
    border-radius: var(--border-r);
    border: 1px solid var(--grey_border);
    background-color: var(--grey_bg);
    padding: var(--gutter);
    resize: none;
}
.reset-password__comtainer input{
    padding: 0 var(--gutter);
    height: 34px;
    max-width: 400px;
}
.profile-update__form button,
.reset-password__form button{
    margin-left: auto;
    width: 120px;
    height: 36px;
    white-space: nowrap;
    border-radius: var(--border-r);
    border: 1px solid var(--grey_600);
    color: var(--grey_700);
    background-color: var(--grey_bg);
    margin-top: 10px;
    font-size: var(--body2);
    box-shadow: rgba(var(--grey_border)) 0px 1px 2px, 
    rgba(var(--grey_border)) 0px 0px 0px 1px;
    transition: 0.3s;
}
.profile-update__form button:hover,
.reset-password__form button:hover{
    background-color: var(--grey_border);
    border: 1px solid var(--grey_bg);
    box-shadow: rgba(var(--grey_border)) 0px 1px 2px, 
    rgba(var(--grey_border)) 0px 0px 0px 1px;
}


/* set-alarm */
/* 라디오 체크 부분 css로 활용함 */
.settings-detail__set-alarm {
    display: flex;
    flex-direction: column;
}
.settings-detail__container{
    margin-top: var(--pading-top);
}
.settings-detail__container > h3 {
    font-size: var(--body1);
    font-weight: 600;
    margin: 5px;
}

input[type="radio"] {
    vertical-align: middle;
    appearance: none;
    border: max(2px, 0.1em) solid var(--grey_600);
    border-radius: 50%;
    width: 1.25em;
    height: 1.25em;
  }

input[type="radio"]:checked {
    border: 0.4em solid #000;
  }

.radio__set  {
    margin-top: var(--gutter);
}
.reset-password__comtainer{
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-bottom: var(--gutter);
}
.settings-detail__set-password {
    margin-bottom: 250px;
}

/* 비밀번호 변경 시 결과 css */
.error{
    border: 1px solid var(--red) !important;
}

.success{
    border: 1px solid var(--green_500) !important;
}

